@import "./../../libs/mixins";
@import "./../../libs/vars";


//icons
.icon_loyalty{
    display: inline-block;
    width: 61px;
    height: 70px;
    background: url(../img/dashboard/icon-loyalty.svg) no-repeat;
}

.icon_sender{
    display: inline-block;
    width: 71px;
    height: 71px;
    background: url(../img/dashboard/icon-sender.svg) no-repeat;
}

.icon_analytics{
    display: inline-block;
    width: 73px;
    height: 73px;
    background: url(../img/dashboard/icon-analytics.svg) no-repeat;
}

.icon_crm{
    display: inline-block;
    width: 78px;
    height: 66px;
    background: url(../img/dashboard/icon-crm.svg) no-repeat;
}

// styles for list
.service_list_inner{
    margin-right: -70px;
    margin-left: -10px;
}

.service_item_dash{
    position: relative;
    float: left;
    width: 140px;
    margin-left: 70px;
    display: inline-block;
    color: @darkGray;
    text-align: left;
    text-decoration: none !important;

    &:hover{
        color: @blueLight;

        .service_item_popup{
            opacity: 1;
            visibility: visible;
            .transform( translate(0, 0));
        }
    }

    &:first-child{
        margin-left: 0;
    }

    .service_item_icon{
        display: block;
        position: absolute;
        left: 0;
        top: 0;

        &.icon_sender{
            top: -2px;
        }

        &.icon_analytics{
            top: -3px;
        }

        &.icon_crm{
            top: 2px;
        }
    }

    .service_item_title{
        display: block;
        margin-bottom: 16px;
        padding-top: 91px;
        font-size: 20px;
        line-height: 20px;
    }

    .service_item_hint{
        display: block;
        font-size: 12px;
        line-height: 15px;
        font-weight: 300;
        color: @lightGray;
    }
}

//styles for popup
.service_item_popup{
    padding: 23px 38px 43px;
    bottom: 95px;
    left: -143px;
    width: 358px;
    .transform( translate(0, -10px));

    .popup_title{
        font-size: 20px;
        line-height: 1;
        margin-bottom: 22px;
    }
}