@import "./../../libs/vars";
@import "_services-list";

// icons
.icon_man{
    display: inline-block;
    width: 146px;
    height: 160px;
    background: url(../img/dashboard/icon-main.svg) no-repeat;
}


// styles for page

.dash_page{
    padding-top: 40px;

    .icon_man{
        display: block;
        margin: 0 auto 13px;
    }

    .dash_page_title{
        margin-bottom: 19px;
        text-align: center;
        font-size: 50px;
        line-height: 60px;
        font-weight: 100;
    }

    .dash_page_subtitle{
        margin-bottom: 48px;
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        font-weight: 300;
        color: @lighterGray;
    } 
    
    .dash_page_list{
        width: 740px;
        margin: 0 auto 70px;
        border-top: 2px solid @lightWhite;
        padding-top: 61px;
        text-align: center;
    }
}


.dash_page_simple{
    padding-top: 84px;

    .dash_page_title{
        margin-bottom: 84px;
        text-align: center;
        font-size: 50px;
        line-height: 60px;
        font-weight: 100;
    }

    .dash_page_list{
        width: 740px;
        margin: 0 auto 70px;
        border-top: 2px solid @lightWhite;
        padding-top: 94px;
        text-align: center;
    }
}