.icon_loyalty {
  display: inline-block;
  width: 61px;
  height: 70px;
  background: url(../img/dashboard/icon-loyalty.svg) no-repeat;
}
.icon_sender {
  display: inline-block;
  width: 71px;
  height: 71px;
  background: url(../img/dashboard/icon-sender.svg) no-repeat;
}
.icon_analytics {
  display: inline-block;
  width: 73px;
  height: 73px;
  background: url(../img/dashboard/icon-analytics.svg) no-repeat;
}
.icon_crm {
  display: inline-block;
  width: 78px;
  height: 66px;
  background: url(../img/dashboard/icon-crm.svg) no-repeat;
}
.service_list_inner {
  margin-right: -70px;
  margin-left: -10px;
}
.service_item_dash {
  position: relative;
  float: left;
  width: 140px;
  margin-left: 70px;
  display: inline-block;
  color: #333333;
  text-align: left;
  text-decoration: none !important;
}
.service_item_dash:hover {
  color: #6E9FEE;
}
.service_item_dash:hover .service_item_popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.service_item_dash:first-child {
  margin-left: 0;
}
.service_item_dash .service_item_icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.service_item_dash .service_item_icon.icon_sender {
  top: -2px;
}
.service_item_dash .service_item_icon.icon_analytics {
  top: -3px;
}
.service_item_dash .service_item_icon.icon_crm {
  top: 2px;
}
.service_item_dash .service_item_title {
  display: block;
  margin-bottom: 16px;
  padding-top: 91px;
  font-size: 20px;
  line-height: 20px;
}
.service_item_dash .service_item_hint {
  display: block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
  color: #7f7f7f;
}
.service_item_popup {
  padding: 23px 38px 43px;
  bottom: 95px;
  left: -143px;
  width: 358px;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
}
.service_item_popup .popup_title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 22px;
}
.icon_man {
  display: inline-block;
  width: 146px;
  height: 160px;
  background: url(../img/dashboard/icon-main.svg) no-repeat;
}
.dash_page {
  padding-top: 40px;
}
.dash_page .icon_man {
  display: block;
  margin: 0 auto 13px;
}
.dash_page .dash_page_title {
  margin-bottom: 19px;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}
.dash_page .dash_page_subtitle {
  margin-bottom: 48px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: #787878;
}
.dash_page .dash_page_list {
  width: 740px;
  margin: 0 auto 70px;
  border-top: 2px solid #e6e6e6;
  padding-top: 61px;
  text-align: center;
}
.dash_page_simple {
  padding-top: 84px;
}
.dash_page_simple .dash_page_title {
  margin-bottom: 84px;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}
.dash_page_simple .dash_page_list {
  width: 740px;
  margin: 0 auto 70px;
  border-top: 2px solid #e6e6e6;
  padding-top: 94px;
  text-align: center;
}
.s_mailing_head {
  height: 200px;
  background-color: #f1f1ee;
  z-index: 2;
}
.s_mailing_head.show_full_menu {
  padding-left: 340px !important;
}
.s_mailing_head .head_inner {
  min-width: 775px;
  max-width: 1055px;
  margin: 0 auto;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 29px;
}
.s_mailing_head .head_title {
  margin: 0 0 37px -4px;
  padding-top: 33px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}
.s_mailing_head.state_small {
  height: 100px;
  border-bottom: 2px solid #e6e6e6;
}
.s_mailing_head.state_small .head_title {
  display: none;
}
.s_mailing_head.state_small .head_inner {
  padding-top: 31px;
  border-bottom: none;
}
.show_full_menu .mailing_head {
  padding-left: 340px !important;
}
.s_mailing_toolbar {
  height: 40px;
  position: relative;
  font-size: 14px;
}
.s_mailing_toolbar .toolbar_right {
  float: right;
}
.s_mailing_toolbar .toolbar_btn_create {
  float: right;
  margin-left: 32px;
  min-width: 170px;
}
.s_mailing_toolbar .toolbar_btn_delete {
  display: inline-block;
  vertical-align: top;
  float: right;
  height: 40px;
  width: 25px;
  position: relative;
  opacity: .9;
}
.s_mailing_toolbar .toolbar_btn_delete:after {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 25px;
  height: 23px;
  background: url(../img/sender-list/icon-delete.svg) no-repeat;
}
.s_mailing_toolbar .toolbar_btn_delete:hover {
  opacity: 1;
}
.s_mailing_toolbar .toolbar_main {
  margin-right: 290px;
  display: block;
  zoom: 1;
}
.s_mailing_toolbar .toolbar_main:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.s_mailing_toolbar .toolbar_btn_tags {
  display: inline-block;
  position: relative;
  padding: 0 21px 0 46px;
  margin-right: 18px;
  float: right;
  height: 40px;
  color: #333333;
  line-height: 40px;
  text-decoration: none !important;
  cursor: pointer;
}
.s_mailing_toolbar .toolbar_btn_tags .check_simple {
  position: absolute;
  left: 19px;
  top: 9px;
}
.s_mailing_toolbar .toolbar_btn_tags.state_checking {
  background-color: #d6dee8;
}
.s_mailing_toolbar .toolbar_btn_all_con {
  display: block;
  float: left;
  vertical-align: top;
  position: relative;
  width: 90px;
  margin-right: 2px;
}
.s_mailing_toolbar .toolbar_btn_all {
  display: block;
  height: 40px;
  width: 90px;
  background-color: #e6e6e6;
  position: relative;
}
.s_mailing_toolbar .toolbar_btn_all:after {
  content: '';
  display: block;
  position: absolute;
  top: 19px;
  right: 17px;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: 4px solid transparent !important;
  border-right: 4px solid transparent !important;
  border-top: 4px solid #727271;
}
.s_mailing_toolbar .toolbar_btn_all .check_simple {
  position: absolute;
  left: 30px;
  top: 11px;
}
.s_mailing_toolbar .toolbar_btn_all:hover {
  background-color: #d9d9d9;
}
.s_mailing_toolbar .toolbar_btn_all.state_check {
  background-color: #d9d9d9;
}
.s_mailing_toolbar .toolbar_btn_all.state_check .check_simple_pretty {
  background-image: url(../img/components/icon-check-sm-s.svg);
}
.s_mailing_toolbar .toolbar_controls {
  float: left;
}
.s_mailing_toolbar .toolbar_btn_search {
  display: block;
  float: left;
  margin-right: 20px;
  width: 90px;
  height: 40px;
  background-color: #e6e6e6;
  position: relative;
}
.s_mailing_toolbar .toolbar_btn_search:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: 33px;
  top: 10px;
  background: url(../img/sender-list/icon-search.svg) no-repeat;
}
.s_mailing_toolbar .toolbar_btn_search:hover {
  background-color: #d9d9d9;
}
.s_mailing_toolbar .toolbar_btn_refresh {
  display: block;
  float: left;
  width: 60px;
  height: 40px;
  background-color: #e6e6e6;
  position: relative;
}
.s_mailing_toolbar .toolbar_btn_refresh:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 19px;
  left: 19px;
  top: 11px;
  background: url(../img/sender-list/icon-refresh.svg) no-repeat;
}
.s_mailing_toolbar .toolbar_btn_refresh:hover {
  background-color: #d9d9d9;
}
.s_mailing_toolbar .toolbar_for_checking {
  margin-left: 18px;
}
.s_mailing_toolbar .toolbar_btn_simple {
  display: inline-block;
  vertical-align: top;
  float: left;
  height: 40px;
  background-color: #e6e6e6;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  padding: 0 20px;
  margin-right: 2px;
  text-decoration: none !important;
  color: #333333 !important;
}
.s_mailing_toolbar .toolbar_btn_simple:hover {
  background-color: #d9d9d9;
}
.s_mailing_toolbar .toolbar_search_form {
  display: block;
}
.s_mailing_toolbar .toolbar_search_input {
  display: block;
  float: left;
  width: 390px;
  padding: 0 15px;
  height: 40px;
  border: none;
  box-shadow: none;
  background-color: #e6e6e6;
  font-size: 16px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.s_mailing_toolbar .toolbar_search_input:focus {
  outline: none;
}
.s_mailing_toolbar .toolbar_search_submit {
  display: block;
  height: 40px;
  width: 90px;
  position: relative;
  float: left;
  border: none;
  box-shadow: none;
  background-color: #4fa0f1;
}
.s_mailing_toolbar .toolbar_search_submit:after {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 33px;
  top: 10px;
  background: url(../img/sender-list/icon-search-white.svg) no-repeat;
}
.s_mailing_toolbar .toolbar_search_submit:hover {
  opacity: .9;
}
/*== State ==*/
.show_toolbar_checking .toolbar_controls,
.show_toolbar_checking .toolbar_btn_tags {
  display: none;
}
.show_toolbar_checking .toolbar_for_checking {
  display: block;
  float: left;
}
.show_toolbar_creating .toolbar_for_recreating {
  margin-left: 18px;
  display: block;
  float: left;
}
.show_toolbar_creating .toolbar_controls,
.show_toolbar_creating .toolbar_btn_tags,
.show_toolbar_creating .toolbar_btn_delete {
  display: none;
}
.show_toolbar_searching .toolbar_for_searching {
  display: block;
  float: left;
}
.show_toolbar_searching .toolbar_controls,
.show_toolbar_searching .toolbar_btn_tags {
  display: none;
}
.show_toolbar_searching .toolbar_for_searching {
  display: block;
}
.show_toolbar_for_empty_mailing .toolbar_btn_tags,
.show_toolbar_for_empty_mailing .toolbar_btn_all_con,
.show_toolbar_for_empty_mailing .toolbar_btn_refresh {
  display: none;
}
@media screen and (max-width: 1200px) {
  .s_mailing_toolbar .toolbar_search_input {
    width: 240px;
  }
}
.mailing_create_title {
  padding-top: 33px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
}
.mailing_create_bl {
  width: 470px;
  margin: 0 auto 50px;
  padding-top: 100px;
  text-align: center;
}
.mailing_create_bl .mailing_create_img {
  display: block;
  margin: 0 auto 32px;
  width: 140px;
  height: 166px;
  background: url(../img/sender-list/icon-create-man.svg) no-repeat;
}
.mailing_create_bl .mailing_create_text {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 38px;
}
.mailing_create_bl .mailing_create_btn {
  min-width: 230px;
}
.mailing_empty_bl {
  width: 430px;
  margin: 0 auto;
  padding-top: 112px;
  text-align: center;
}
.mailing_empty_bl .mailing_empty_img {
  display: block;
  margin: 0 auto 28px;
  background: url(../img/sender-list/icon-empty-list.svg) no-repeat;
  width: 56px;
  height: 51px;
}
.mailing_empty_bl .mailing_empty_text {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
.mailing_page {
  margin-left: 90px;
  margin-right: 45px;
}
.mailing_page .mailing_head {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 170px;
  padding-right: 50px;
}
.mailing_page .mailing_list {
  overflow: hidden;
  padding-top: 240px;
}
.mailing_page .mailing_list_inner {
  display: block;
  zoom: 1;
  margin-right: -50px;
}
.mailing_page .mailing_list_inner:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mailing_page .sender_item {
  float: left;
  width: 28%;
  margin-right: 5.3%;
  margin-bottom: 50px;
}
.mailing_page .mailing_nav {
  padding-top: 21px;
  margin-bottom: 60px;
  clear: both;
}
@media screen and (max-width: 1200px) {
  .mailing_page {
    margin-left: 40px;
    margin-right: 40px;
  }
  .mailing_page .mailing_head {
    padding-left: 120px;
    padding-right: 40px;
  }
}
.mdetail_head {
  border-bottom: 2px solid #e6e6e6;
  position: relative;
}
.mdetail_head .mdetail_back_link {
  position: absolute;
  left: -59px;
  top: 12px;
  width: 30px;
  height: 30px;
}
.mdetail_head .mdetail_back_link:after {
  content: '';
  display: block;
  position: relative;
  left: 2px;
  top: 7px;
  width: 26px;
  height: 16px;
  background: url(../img/sender-detail/icon-back-arrow.svg) no-repeat;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.mdetail_head .mdetail_back_link:hover:after {
  -webkit-transform: translate(-10px, 0);
  -moz-transform: translate(-10px, 0);
  -ms-transform: translate(-10px, 0);
  -o-transform: translate(-10px, 0);
  transform: translate(-10px, 0);
}
.mdetail_head .mdetail_head_nav {
  margin-left: -16px;
}
.mdetail_head .mdetail_title {
  margin-bottom: 47px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  white-space: nowrap;
}
.mdetail_title_popup {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  vertical-align: -8px;
}
.mdetail_title_popup .icon_round_light {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #e6e6e6;
  position: relative;
}
.mdetail_title_popup .icon_round_light:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: 7px solid transparent !important;
  border-right: 7px solid transparent !important;
  border-top: 8px solid #727271;
  margin: -4px 0 0 -7px;
}
.mdetail_title_popup .popup_menu {
  position: absolute;
  left: -53px;
  top: 41px;
  -webkit-transform: translate(0, 10px);
  -moz-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
  transform: translate(0, 10px);
}
.mdetail_title_popup:hover .popup_menu {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
.mdetail_info {
  padding-bottom: 40px;
  position: relative;
  margin-bottom: -10px;
}
.mdetail_info .mdetail_info_right {
  width: 300px;
  float: right;
  min-height: 1px;
  margin-left: 80px;
}
.mdetail_info .mdetail_info_right_inner {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #e6e6e6;
}
.mdetail_info .mdetail_info_list {
  margin-bottom: 77px;
  text-align: center;
  white-space: nowrap;
}
.mdetail_info .mdetail_info_list .progress_simple {
  margin: 0 14px;
  white-space: normal;
}
.mdetail_info .mdetail_info_list .progress_simple:first-child {
  margin-left: 0;
}
.mdetail_info .mdetail_info_list .progress_simple:last-child {
  margin-right: 0;
}
.mdetail_info .mdetail_info_title {
  font-size: 30px;
  margin-bottom: 30px;
}
.mdetail_info .mdetail_info_graphic {
  margin-bottom: 81px;
}
.mdetail_info .mdetail_info_title_popular {
  font-size: 30px;
  margin-bottom: 25px;
}
.mdetail_info_right_content {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
}
.mdetail_info_right_content .mdetail_info_date {
  font-size: 15px;
  line-height: 15px;
  font-weight: 100;
  position: relative;
  padding: 42px 0 28px 39px;
  border-bottom: 2px solid #dadada;
}
.mdetail_info_right_content .mdetail_info_date:before {
  content: '';
  position: absolute;
  width: 31px;
  height: 22px;
  left: 1px;
  top: 42px;
  background: url(../img/sender-item/icon-sender-email.svg) no-repeat;
}
.mdetail_info_right_content .mdetail_info_tags {
  margin-bottom: 30px;
}
.mdetail_info_right_content .mdetail_info_tags_title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
  margin-top: 24px;
}
.mdetail_info_right_content .sender_tag {
  display: inline-block;
  vertical-align: top;
  margin: 0 -1px 2px 0;
}
.mdetail_info_right_content .mdetail_info_btn_analytics {
  position: relative;
  padding-left: 40px;
}
.mdetail_info_right_content .mdetail_info_btn_analytics:before {
  content: '';
  width: 19px;
  height: 13px;
  position: absolute;
  left: 11px;
  top: 15px;
  background: url(../img/sender-detail/icon-analytics.svg) no-repeat;
}
.mdetail_info_content {
  overflow: hidden;
  padding-top: 69px;
}
.mdetail_info_content .icons_man_green {
  display: block;
  margin: 0 auto 10px;
  width: 50px;
  height: 59px;
  background: url(../img/sender-item/icon-sender-man2.svg) no-repeat;
}
.mdetail_info_content .mdetail_info_count {
  text-align: center;
  font-size: 50px;
  line-height: 1;
  font-weight: 300;
  margin: -1px 0;
  color: #58b943;
}
.mdetail_info_content .mdetail_info_hint {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 44px;
}
.popular_links {
  margin-bottom: 20px;
}
.popular_link_item {
  display: block;
  position: relative;
  padding-left: 49px;
  text-decoration: none !important;
  border-top: 2px solid #e6e6e6;
  height: 58px;
  font-size: 16px;
  font-weight: 300;
  line-height: 58px;
  color: #000;
  white-space: nowrap;
}
.popular_link_item:first-child {
  border-top: none;
}
.popular_link_item:hover {
  color: #6E9FEE;
}
.popular_link_item .popular_link_number {
  position: absolute;
  display: block;
  left: 2px;
  top: 14px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #f9c432;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000 !important;
}
.popular_link_item .popular_link_text {
  display: inline-block;
  min-width: 173px;
  vertical-align: top;
}
.progress_simple_arrow {
  display: inline-block;
  vertical-align: top;
  width: 5px;
  position: relative;
}
.progress_simple_arrow:before {
  content: '';
  display: block;
  position: absolute;
  left: -13px;
  top: 60px;
  width: 31px;
  height: 13px;
  background: url(../img/sender-detail/icon-arrow-detail.svg) no-repeat;
}
.progress_simple {
  display: inline-block;
  position: relative;
  width: 180px;
  vertical-align: top;
}
.progress_simple .progress_simple_value {
  height: 88px;
  padding-top: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
.progress_simple .progress_simple_value span {
  margin-bottom: 4px;
  font-size: 30px;
  display: block;
  line-height: 1;
}
.progress_simple .progress_simple_svg {
  position: absolute;
  left: 50%;
  margin-left: -65px;
  top: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.progress_simple .progress_title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  min-height: 50px;
  padding: 14px 10px 18px;
}
.progress_simple .progress_hint {
  position: relative;
  display: block;
  padding: 14px 5px 10px 24px;
  margin: 0 auto;
  width: 180px;
  border-radius: 7px;
  background-color: #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px #c2c2c2;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
.progress_simple .progress_hint:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: none;
  border-left: 12.5px solid transparent !important;
  border-right: 12.5px solid transparent !important;
  border-bottom: 17px solid #e6e6e6;
  left: 50%;
  top: -17px;
  margin-left: -13px;
}
.progress_simple .progress_hint_item {
  font-size: 12px;
  line-height: 1.2;
  margin: 4px 0;
  color: #727271;
}
.progress_simple .progress_hint_item .first {
  margin: 12px 0 0 0;
}
.progress_simple .progress_hint_item:after {
  content: 'i';
  display: inline-block;
  margin-left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 1px solid #b8b8b8;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #b8b8b8;
  font-style: normal;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
}
.mdetail_info_graphic .jqplot-xaxis-tick,
.mdetail_info_graphic .jqplot-yaxis-tick {
  color: #7f7f7f;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.mdetail_info_graphic .jqplot-xaxis-tick {
  margin-top: 20px;
  color: transparent;
}
.mdetail_info_graphic .jqplot-xaxis-tick:first-child {
  display: none;
}
.mdetail_info_graphic .jqplot-xaxis-tick:nth-child(2):before {
  color: #7f7f7f;
  content: '00:00';
  position: absolute;
  left: 0;
  top: 0;
}
.mdetail_info_graphic .jqplot-xaxis-tick:nth-child(3):before {
  content: '06:00';
  position: absolute;
  left: 0;
  top: 0;
  color: #7f7f7f;
}
.mdetail_info_graphic .jqplot-xaxis-tick:nth-child(4):before {
  content: '12:00';
  position: absolute;
  left: 0;
  top: 0;
  color: #7f7f7f;
}
.mdetail_info_graphic .jqplot-xaxis-tick:nth-child(5):before {
  content: '18:00';
  position: absolute;
  left: 0;
  top: 0;
  color: #7f7f7f;
}
.mdetail_info_graphic .jqplot-xaxis-tick:nth-child(6):before {
  content: '23:59';
  position: absolute;
  left: 0;
  top: 0;
  color: #7f7f7f;
}
.mdetail_info_graphic .jqplot-xaxis {
  bottom: 0;
}
.mdetail_info_graphic .jqplot-xaxis:before {
  content: '';
  position: absolute;
  left: 40px;
  top: 0;
  right: 0;
  height: 2px;
  background-color: #787878;
}
.mdetail_info_graphic .jqplot-yaxis-tick:before {
  content: '';
  position: absolute;
  left: 40px;
  right: 0;
  height: 2px;
  top: 9px;
  background-color: #e6e6e6;
  width: 530px;
  z-index: 5;
}
.mdetail_info_graphic .jqplot-yaxis-tick:first-child:before {
  display: none;
}
.mdetail_info_graphic .jqplot-series-canvas {
  z-index: 6;
}
@media screen and (max-width: 1370px) {
  .mdetail_info .progress_simple {
    margin: 0 !important;
  }
}
@media screen and (max-width: 1340px) {
  .mdetail_info {
    margin-right: -40px;
  }
  .mdetail_info .mdetail_info_right {
    margin-left: 40px;
  }
  .mdetail_info .mdetail_info_right,
  .mdetail_info .mdetail_info_right_inner {
    width: 250px;
  }
  .mdetail_info .mdetail_info_right_content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1260px) {
  .mdetail_info {
    margin-right: -40px;
  }
}
.mdetail_map {
  padding-top: 49px;
  padding-bottom: 40px;
}
.mdetail_map .mdetail_map_info {
  width: 260px;
  float: right;
  margin-left: 90px;
}
.mdetail_map .mdetail_map_content {
  overflow: hidden;
  position: relative;
}
.mdetail_map .mdetail_map_content_img {
  float: left;
  position: relative;
}
.mdetail_map .mdetail_map_overlay {
  background-color: rgba(77, 77, 77, 0.7);
  z-index: 2;
}
.mdetail_map_overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}
.mdetail_map_overlay .overlay_item {
  position: absolute;
  text-align: center;
  background: url(../img/sender-detail/label.png) no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  color: #000;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mdetail_map_overlay .overlay_item.type_size_1 {
  width: 95px;
  height: 130px;
  padding-top: 13px;
  font-size: 55px;
}
.mdetail_map_overlay .overlay_item.type_size_2 {
  width: 65px;
  height: 89px;
  font-size: 36px;
  padding-top: 10px;
}
.mdetail_map_overlay .overlay_item.type_size_3 {
  width: 35px;
  height: 48px;
  font-size: 19px;
  padding-top: 6px;
}
.mdetail_map_overlay .overlay_item.type_size_4 {
  width: 23px;
  height: 32px;
  font-size: 13px;
  padding-top: 4px;
}
.mdetail_map_overlay .overlay_item.type_size_5 {
  width: 16px;
  height: 22px;
  font-size: 9px;
  padding-top: 3px;
}
.mdetail_map_content_img {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.mdetail_map_content_img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(77, 77, 77, 0.3);
}
.mdetail_map_content_img img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
.mdetail_map_select {
  height: 50px;
  margin-bottom: 29px;
}
.mdetail_map_select .select-simple {
  width: 100%;
}
.mdetail_map_item {
  height: 58px;
  border-top: 2px solid #e6e6e6;
  position: relative;
  padding-left: 44px;
  font-size: 16px;
  font-weight: 100;
  line-height: 58px;
  cursor: pointer;
}
.mdetail_map_item:first-child,
.mdetail_map_item.first {
  border-top: none;
}
.mdetail_map_item .label {
  position: absolute;
  left: 0;
  top: 12px;
  width: 30px;
  height: 30px;
  background-color: #f9c432;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.mdetail_map_item:hover {
  background-color: #d6dde8;
  border-top: 2px solid #d6dde8;
}
.mdetail_map_item:hover:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #d6dde8;
  z-index: 2;
}
.mdetail_map_item [data-tooltip] {
  cursor: pointer;
}
.mdetail_map_item [data-tooltip]:hover {
  color: #6E9FEE;
}
.mdetail_geo {
  padding-top: 30px;
  padding-bottom: 40px;
  display: block;
  zoom: 1;
}
.mdetail_geo:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mdetail_geo .mdetail_geo_info {
  float: right;
  width: 260px;
  margin-left: 50px;
}
.mdetail_geo .mdetail_geo_content {
  overflow: hidden;
}
.mdetail_geo #map {
  height: 450px;
  min-width: 520px;
}
.mdetail_geo #map svg {
  height: 450px !important;
  width: 100% !important;
}
.mdetail_geo .jvectormap-element {
  fill: #e1e1e1;
  stroke: #d2d2d2;
  stroke-width: 1;
}
.mdetail_geo [data-code="RU"] {
  fill: #58b943 !important;
}
.mdetail_geo [data-code="KZ"] {
  fill: #71d49c !important;
}
.mdetail_geo .jvectormap-container {
  background: none !important;
}
.mdetail_geo .jvectormap-zoomin,
.mdetail_geo .jvectormap-zoomout {
  width: 30px;
  height: 30px;
  background: #dfdfdf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #727271;
  padding: 0;
  text-align: center;
  line-height: 32px;
  font-size: 30px;
  border-radius: 2px;
}
.mdetail_geo .jvectormap-zoomin:hover,
.mdetail_geo .jvectormap-zoomout:hover {
  background: #ccc;
}
.mdetail_geo .jvectormap-zoomout {
  top: 42px;
}
.mdetail_geo_item {
  display: block;
  position: relative;
  height: 58px;
  border-top: 2px solid #e6e6e6;
  line-height: 60px;
  padding-left: 46px;
}
.mdetail_geo_item:first-child {
  border-top: none;
}
.mdetail_geo_item:first-child .number {
  font-weight: bold;
}
.mdetail_geo_item .number {
  float: right;
  display: block;
  font-weight: 100;
  margin-left: 10px;
}
.mdetail_geo_item .name {
  display: block;
  overflow: hidden;
  font-weight: 100;
}
.mdetail_geo_item .mdetail_geo_item_lang {
  position: absolute;
  left: 0;
  top: 15px;
}
.icon_flag {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.icon_flag.lang_ru {
  background-image: url(../img/components/flags/flag-ru.svg);
}
.icon_flag.lang_ua {
  background-image: url(../img/components/flags/flag-ua.svg);
}
.icon_flag.lang_uk {
  background-image: url(../img/components/flags/flag-uk.svg);
}
.icon_flag.lang_ca {
  background-image: url(../img/components/flags/flag-ca.svg);
}
.icon_flag.lang_us {
  background-image: url(../img/components/flags/flag-us.svg);
}
.mailing_detail_page {
  margin-left: 90px;
  margin-right: 45px;
  padding-top: 33px;
}
.mailing_detail_page .mdetail_head {
  height: 166px;
}
.mailing_detail_page .mdetail_content_tab {
  display: none;
}
.mdetail_template {
  padding-top: 48px;
  padding-bottom: 40px;
}
.mdetail_template .mdetail_template_btn {
  padding-left: 44px;
  position: relative;
  min-width: 171px;
}
.mdetail_template .mdetail_template_btn:before {
  content: '';
  position: absolute;
  display: block;
  left: 21px;
  top: 9px;
  width: 24px;
  height: 23px;
  background: url(../img/sender-detail/icon-save-temp.svg) no-repeat;
}
.mdetail_template .mdetail_template_frame {
  margin-top: 30px;
  width: 700px;
  height: 1200px;
}
@media screen and (max-width: 1260px) {
  .mailing_detail_page {
    margin-left: 60px;
    margin-right: 40px;
  }
  .mailing_detail_page .mdetail_back_link {
    left: -40px;
  }
}
