/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #000;
  background-color: #f1f1ee;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
.inline_block {
  display: inline-block !important;
}
.hidden,
.hidden.clearfix {
  display: none;
}
.text_center {
  text-align: center !important;
}
.text_left {
  text-align: left !important;
}
.text_right {
  text-align: right !important;
}
.pull_left {
  float: left;
}
.pull_right {
  float: right;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.no_select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
.no_wrap {
  white-space: nowrap;
}
.italic {
  font-family: 'Georgia';
  font-style: italic;
}
.row {
  width: 100%;
}
.sp_well {
  width: 100%;
  border: 2px dotted rgba(209, 225, 238, 0.7);
  background-color: #f3f7fa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bold {
  font-weight: 600 !important;
}
.overflow_hidden {
  overflow: hidden !important;
}
.overflow_auto {
  overflow: auto !important;
}
.p-abs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.p_rel {
  position: relative !important;
}
.t_ellps {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.text_hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.defaults {
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  font-size: 16px;
  text-align: start;
  font-style: normal;
  line-height: normal;
  font-variant: normal;
  font-weight: normal;
  white-space: normal;
  /* Begin bidirectionality settings (do not change) */
}
.defaults html,
.defaults address,
.defaults blockquote,
.defaults body,
.defaults dd,
.defaults div,
.defaults dl,
.defaults dt,
.defaults fieldset,
.defaults form,
.defaults frame,
.defaults frameset,
.defaults h1,
.defaults h2,
.defaults h3,
.defaults h4,
.defaults h5,
.defaults h6,
.defaults noframes,
.defaults ol,
.defaults p,
.defaults ul,
.defaults center,
.defaults dir,
.defaults hr,
.defaults menu,
.defaults pre {
  text-align: start;
  display: block;
  unicode-bidi: embed;
  color: #000000;
  font: 'Arial', sans-serif;
}
.defaults li {
  display: list-item;
}
.defaults head {
  display: none;
}
.defaults table {
  display: table;
  color: #000000;
  font: 'Arial', sans-serif;
}
.defaults tr {
  display: table-row;
}
.defaults thead {
  display: table-header-group;
}
.defaults tbody {
  display: table-row-group;
}
.defaults tfoot {
  display: table-footer-group;
}
.defaults col {
  display: table-column;
}
.defaults colgroup {
  display: table-column-group;
}
.defaults td,
.defaults th {
  display: table-cell;
  text-align: center;
}
.defaults caption {
  display: table-caption;
}
.defaults th {
  font-weight: bolder;
  text-align: center;
}
.defaults caption {
  text-align: center;
}
.defaults body {
  margin: 8px;
}
.defaults h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.defaults h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
.defaults h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}
.defaults h4,
.defaults p,
.defaults blockquote,
.defaults ul,
.defaults fieldset,
.defaults form,
.defaults ol,
.defaults dl,
.defaults dir,
.defaults menu {
  margin: 1em 0;
}
.defaults h5 {
  font-size: .83em;
  margin: 1.5em 0;
}
.defaults h6 {
  font-size: .75em;
  margin: 1.67em 0;
}
.defaults h1,
.defaults h2,
.defaults h3,
.defaults h4,
.defaults h5,
.defaults h6,
.defaults b,
.defaults strong {
  font-weight: bolder;
}
.defaults blockquote {
  margin-left: 40px;
  margin-right: 40px;
}
.defaults i,
.defaults cite,
.defaults em,
.defaults var,
.defaults address {
  font-style: italic;
}
.defaults pre,
.defaults tt,
.defaults code,
.defaults kbd,
.defaults samp {
  font-family: monospace;
}
.defaults pre {
  white-space: pre;
}
.defaults button,
.defaults textarea,
.defaults input,
.defaults select {
  display: inline-block;
}
.defaults big {
  font-size: 1.17em;
}
.defaults small,
.defaults sub,
.defaults sup {
  font-size: 0.83em;
}
.defaults sub {
  vertical-align: sub;
}
.defaults sup {
  vertical-align: super;
}
.defaults thead,
.defaults tbody,
.defaults tfoot {
  vertical-align: middle;
}
.defaults td,
.defaults th,
.defaults tr {
  vertical-align: inherit;
}
.defaults s,
.defaults strike,
.defaults del {
  text-decoration: line-through;
}
.defaults hr {
  border: 1px inset;
}
.defaults ol,
.defaults ul,
.defaults dir,
.defaults menu,
.defaults dd {
  margin-left: 40px;
}
.defaults ol {
  list-style-type: decimal;
}
.defaults ol ul,
.defaults ul ol,
.defaults ul ul,
.defaults ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.defaults u,
.defaults ins {
  text-decoration: underline;
}
.defaults br:before {
  content: "\A";
  white-space: pre-line;
}
.defaults center {
  text-align: center;
}
.defaults :link,
.defaults :visited {
  text-decoration: underline;
}
.defaults :focus {
  outline: thin dotted invert;
}
.defaults ul {
  list-style: disc outside none;
}
.defaults BDO[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: bidi-override;
}
.defaults BDO[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.defaults *[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: embed;
}
.defaults *[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}
@media print {
  .defaults h1 {
    page-break-before: always;
  }
  .defaults h1,
  .defaults h2,
  .defaults h3,
  .defaults h4,
  .defaults h5,
  .defaults h6 {
    page-break-after: avoid;
  }
  .defaults ul,
  .defaults ol,
  .defaults dl {
    page-break-before: avoid;
  }
}
.link_gray {
  color: #727271;
  text-decoration: none !important;
}
.link_gray:hover {
  color: #6E9FEE;
}
.link_blue_light {
  color: #6E9FEE;
  text-decoration: none !important;
}
.link_blue_light:hover {
  color: #7186BD;
}
.btn_blue_light {
  display: inline-block;
  border: 1px solid #6E9FEE;
  padding: 8px 10px;
  border-radius: 2px;
  background: none;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  color: #6E9FEE;
  text-decoration: none !important;
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
.btn_blue_light:hover {
  opacity: .8;
}
.btn_blue_flat {
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  color: #fff !important;
  padding: 9px 15px;
  border-radius: 20px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  text-align: center;
  background-color: #4fa0f1;
  text-decoration: none !important;
}
.btn_blue_flat:hover {
  opacity: .9;
}
.btn_gray_square {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #333333 !important;
  padding: 12px 15px 11px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  text-align: center;
  background-color: #dfdfdf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none !important;
}
.btn_gray_square:hover {
  opacity: .9;
}
.btn_gray_light {
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  color: #333333 !important;
  padding: 11px 15px 9px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  text-align: center;
  background-color: #dfdfdf;
  text-decoration: none !important;
  white-space: nowrap;
}
.btn_gray_light:hover {
  background-color: #d9d9d9;
}
.btn_blue_flat.size_big {
  border-radius: 50px;
  font-weight: 500;
  min-width: 120px;
  padding: 14px 15px 14px;
  -webkit-font-smoothing: antialiased;
}
.check_simple {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.check_simple .check_simple_real {
  position: absolute;
  left: 100%;
  visibility: hidden;
  top: 0;
}
.check_simple .check_simple_pretty {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../img/components/icon-check.svg) no-repeat;
}
.check_simple_real:checked + .check_simple_pretty {
  opacity: 1 !important;
  background: url(../img/components/icon-check-a.svg) no-repeat;
}
.select_simple .selectize-input {
  height: 50px;
  font-size: 14px;
  font-weight: 300;
  color: #303030;
  line-height: 50px;
  background: #dfdfdf !important;
  padding: 0 30px 0 20px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.2) !important;
  border: none !important;
}
.select_simple .selectize-input input {
  display: none !important;
}
.select_simple .selectize-input:after {
  border-top-color: #6f6f70 !important;
  margin-top: 0 !important;
}
.select_simple .dropdown-active:after {
  border-bottom-color: #6f6f70 !important;
}
.select2-search {
  display: none !important;
}
.popup_simple {
  position: absolute;
  border-radius: 2px;
  width: 350px;
  padding: 20px 40px;
  min-height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 20px;
  color: #333333 !important;
  text-decoration: none !important;
  cursor: default;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.popup_simple:after {
  content: '';
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-top: 10px solid #fff;
  margin-left: -10px;
  bottom: -10px;
}
.popup_menu {
  position: relative;
  width: 150px;
  border-radius: 3px;
  background-color: #fff;
  min-height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.popup_menu:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: none;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 10px solid #fff;
  left: 50%;
  margin-left: -10px;
  top: -10px;
}
.popup_menu .popup_menu_item {
  display: block;
  height: 48px;
  padding: 0 15px 0 30px;
  border-top: 2px solid #f2f2f2;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  line-height: 48px;
  color: #333333 !important;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.popup_menu .popup_menu_item:hover {
  background-color: #f2f2f2;
}
.popup_menu .popup_menu_item:first-child {
  border-top: none;
  border-radius: 3px 3px 0 0;
}
.popup_menu .popup_menu_item:last-child {
  border-radius: 0 0 3px 3px;
}
.sender_item {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 400px;
  width: 260px;
  position: relative;
}
.sender_item .sender_item_check {
  position: absolute;
  left: 22px;
  top: 20px;
}
.sender_item .check_simple_pretty {
  opacity: .2;
}
.sender_item .sender_item_icon {
  position: absolute;
  left: 50%;
  top: 20px;
}
.sender_item .sender_item_icon.type_email {
  width: 43px;
  height: 30px;
  margin: 31px 0 0 -23px;
  background: url(../img/sender-item/icon-sender-email.svg) no-repeat;
}
.sender_item .sender_item_icon.type_sms {
  width: 42px;
  height: 43px;
  margin: 24px 0 0 -16px;
  background: url(../img/sender-item/icon-sender-sms.svg) no-repeat;
}
.sender_item .sender_item_title {
  display: table;
  height: 110px;
  width: 100%;
  padding: 83px 0 0;
  margin-bottom: 9px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 100;
}
.sender_item .sender_item_title_inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 35px;
  height: 110px;
}
.sender_item .sender_item_count {
  margin: 0 6px 24px 0;
  font-size: 35px;
  line-height: 1;
  font-weight: 300;
  color: #4fa0f1;
}
.sender_item .sender_item_count:before {
  content: '';
  display: inline-block;
  vertical-align: -1px;
  margin-right: -2px;
  width: 22px;
  height: 26px;
  background: url(../img/sender-item/icon-sender-man.svg) no-repeat;
}
.sender_item .sender_item_count .count_all {
  color: #000;
}
.sender_item .sender_item_buttons {
  height: 40px;
}
.sender_item .sender_item_btn {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  line-height: 40px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  text-decoration: none !important;
}
.sender_item .sender_btn_edit {
  padding: 0 23px 0 50px;
  min-width: 102px;
  background-color: #4fa0f1;
  position: relative;
}
.sender_item .sender_btn_edit:before {
  content: '';
  display: block;
  position: absolute;
  left: 22px;
  top: 11px;
  width: 19px;
  height: 19px;
  background: url(../img/sender-item/icon-edit-pencil.svg) no-repeat;
}
.sender_item .sender_btn_edit:hover {
  opacity: .8;
}
.sender_item .sender_btn_moderation {
  display: none;
  background-color: #f5a732;
  position: relative;
  padding: 0 29px 0 51px;
}
.sender_item .sender_btn_moderation:before {
  content: '';
  display: block;
  position: absolute;
  left: 19px;
  top: 12px;
  width: 26px;
  height: 17px;
  background: url(../img/sender-item/icon-moderation.svg) no-repeat;
}
.sender_item .sender_btn_sending {
  display: none;
  background-color: #f5a732;
  padding: 0 20px;
}
.sender_item .sender_btn_sending:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
}
.sender_item .sender_item_hint {
  display: none;
  margin-top: 15px;
  font-size: 11px;
  line-height: 1;
  color: #cdcdcd;
}
.sender_item .sender_item_statistics {
  display: none;
  margin: -11px 40px 0;
  padding-top: 18px;
  text-align: justify;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  font-size: 20px;
}
.sender_item .sender_item_statistics:after {
  content: '';
  display: inline-block;
  width: 100%;
  overflow: hidden;
  min-height: 1px;
}
.sender_item .sender_item_static_val {
  display: inline-block;
  vertical-align: top;
}
.sender_item .sender_item_date {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 21px;
  font-size: 12px;
  font-weight: 300;
  color: #7f7f7f;
}
.sender_item .sender_item_tags {
  display: table;
  width: 100%;
  opacity: 0.5;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  background-color: #f2f2f2;
  border-radius: 0 0 2px 2px;
}
.sender_item .sender_item_tags_inner {
  display: table-cell;
  padding: 20px 30px;
  vertical-align: middle;
  height: 95px;
  overflow: hidden;
  text-align: center;
}
.sender_item .sender_tag {
  margin: 0 0 2px;
  vertical-align: top;
}
/*==== State for sender ==*/
.show_state_moderation .sender_item_count {
  color: #f5a732;
}
.show_state_moderation .sender_item_count:before {
  left: 10px;
  top: 20px;
  background-image: url(../img/sender-item/icon-sender-man1.svg);
}
.show_state_moderation .sender_btn_edit {
  display: none;
}
.show_state_moderation .sender_item_hint {
  display: block;
}
.show_state_moderation .sender_btn_moderation {
  display: inline-block;
}
.show_state_moderation .sender_item_date {
  color: #f5a732;
}
.show_state_sending .sender_item_count {
  color: #f5a732;
}
.show_state_sending .sender_item_count:before {
  left: 10px;
  top: 20px;
  background-image: url(../img/sender-item/icon-sender-man1.svg);
}
.show_state_sending .sender_btn_edit {
  display: none;
}
.show_state_sending .sender_btn_sending {
  display: inline-block;
}
.show_state_sending .sender_item_date {
  color: #f5a732;
}
.show_state_final .sender_item_statistics {
  display: block;
}
.show_state_final .sender_item_buttons {
  display: none;
}
.show_state_final .sender_item_count {
  color: #38B449;
}
.show_state_final .sender_item_count:before {
  background-image: url(../img/sender-item/icon-sender-man2.svg);
}
.show_state_checking {
  background-color: #e2e8f3;
}
.show_state_tags {
  height: 470px;
}
.show_state_tags .sender_item_tags {
  opacity: 1;
  visibility: visible;
}
.show_state_tags .sender_item_icon.type_email {
  margin-top: 11px;
}
.show_state_tags .sender_item_icon.type_sms {
  margin-top: 4px;
}
.show_state_tags .sender_item_title {
  padding-top: 62px;
  margin-bottom: -1px;
}
.show_state_tags .sender_item_hint {
  display: none;
}
.show_state_tags .sender_item_date {
  bottom: 161px;
}
.sender_tag {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  max-width: 140px;
}
.sender_tag.blue {
  background-color: #4fa0f1;
}
.sender_tag.red {
  background-color: #ec646a;
}
.sender_tag.green {
  background-color: #58bf89;
}
.sender_tag.orange {
  background-color: #dca363;
}
.sender_tag.default {
  background-color: #e7e7e7;
  color: #8b8b8b;
}
.sender_tag.more_tags {
  background-color: #dadada;
  color: #6c6c6c;
}
.sender_tag.all_tags {
  background-color: transparent;
  color: #929292;
  border: 1px solid #dadada;
  height: 28px;
  line-height: 28px;
}
.navigation_list {
  display: block;
  zoom: 1;
}
.navigation_list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.navigation_list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.navigation_list .navigation_list_item {
  float: left;
  display: block;
  margin-right: -2px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  font-weight: 100;
  text-decoration: none !important;
  color: #000 !important;
}
.navigation_list .navigation_list_item:hover {
  color: #7186BD !important;
}
.navigation_list .navigation_list_item.selected {
  cursor: default;
  color: #fff !important;
  background-color: #7186BD;
}
.tabs_simple .tab_simple_item {
  display: inline-block;
  vertical-align: top;
  margin-right: 11px;
  border-radius: 30px;
  padding: 0 15px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 100;
  text-decoration: none !important;
  color: #333333;
}
.tabs_simple .tab_simple_item.selected {
  background-color: #f9c432;
  color: #333333 !important;
  cursor: default;
}
.tabs_simple .tab_simple_item:hover {
  color: #6E9FEE;
}
.tooltip_simple {
  height: 50px;
  position: absolute;
  min-width: 140px;
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  line-height: 50px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  z-index: 99;
}
.tooltip_simple.type_top {
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
}
.tooltip_simple.type_top:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-top: 10px solid #fff;
}
.tooltip_simple.state_show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
body,
html {
  height: 100%;
}
.l_page {
  min-height: 100%;
  overflow: hidden;
}
.l_menu {
  display: block;
  float: left;
  width: 80px;
  position: relative;
  z-index: 10;
}
.l_page_content {
  min-width: 910px;
  max-width: 1200px;
  margin: 0 auto;
}
.l_page_content_con {
  overflow: hidden;
}
.l_page_padding {
  height: 60px;
}
.l_footer {
  position: relative;
  height: 60px;
  margin-top: -60px;
  background-color: #e6e6e6;
  z-index: 6;
  margin-left: 80px;
}
.l_footer_inner {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.l_menu .l_menu_bg {
  position: fixed;
  top: 0;
  width: 80px;
  bottom: 0;
  left: 0;
  background-color: #7186BD;
}
.l_menu .l_menu {
  position: relative;
}
.l_menu .menu_main {
  position: relative;
  padding: 35px 0 16px;
}
.menu_logo {
  display: block;
  height: 100px;
  position: relative;
  background-color: #5c78ad;
}
.menu_logo:before {
  content: '';
  position: absolute;
  left: 19px;
  top: 38px;
  width: 41px;
  height: 25px;
  background: url(../img/layout/menu/icon-logo.svg) no-repeat;
}
/*== Addition menu for all services ==*/
.icon_menu_client {
  display: inline-block;
  width: 23px;
  height: 27px;
  background: url(../img/layout/menu/icon-menu-man.svg) no-repeat;
}
.icon_menu_pays {
  display: inline-block;
  width: 23px;
  height: 24px;
  background: url(../img/layout/menu/icon-menu-pays.svg) no-repeat;
}
.icon_menu_notif {
  display: inline-block;
  width: 23px;
  height: 27px;
  background: url(../img/layout/menu/icon-menu-notif.svg) no-repeat;
}
.menu_add {
  text-align: center;
  margin-top: 19px;
}
.menu_add_item {
  display: block;
  position: relative;
  height: 50px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 50px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}
.menu_add_item .menu_add_text {
  display: none;
  padding-left: 40px;
}
.menu_add_item .menu_add_icon {
  position: absolute;
  left: 29px;
}
.menu_add_item .notif_number {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #CC5148;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}
.menu_add_item .icon_menu_client {
  top: 9px;
}
.menu_add_item .icon_menu_pays {
  top: 12px;
}
.menu_add_item .icon_menu_notif {
  top: 11px;
}
.menu_add_notif .notif_number {
  right: -13px;
  top: -12px;
}
.menu_add_notif.type_disabled {
  cursor: default;
  opacity: .1;
}
.menu_add_notif.type_disabled .notif_number,
.menu_add_notif.type_disabled .notif_popup {
  display: none;
}
/*== Main menu Sender ==*/
.icon_menu_email {
  display: inline-block;
  width: 26px;
  height: 25px;
  background: url(../img/layout/menu/icon-menu-email.svg) no-repeat;
}
.icon_menu_chain {
  display: inline-block;
  width: 27px;
  height: 25px;
  background: url(../img/layout/menu/icon-menu-chain.svg) no-repeat;
}
.icon_menu_templates {
  display: inline-block;
  width: 26px;
  height: 25px;
  background: url(../img/layout/menu/icon-menu-temp.svg) no-repeat;
}
.icon_menu_clients {
  display: inline-block;
  width: 30px;
  height: 26px;
  background: url(../img/layout/menu/icon-menu-clients.svg) no-repeat;
}
.icon_menu_settings {
  display: inline-block;
  width: 29px;
  height: 29px;
  background: url(../img/layout/menu/icon-menu-set.svg) no-repeat;
}
.menu_main:after {
  content: '';
  position: absolute;
  right: 20px;
  left: 20px;
  height: 2px;
  background-color: #6574a4;
  bottom: 0;
}
.menu_main .menu_toggle {
  position: relative;
  min-height: 44px;
  margin: 0 20px 14px;
  padding-bottom: 20px;
  border-bottom: 2px solid #6574a4;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
}
.menu_main .menu_toggle_text {
  display: none;
}
.menu_main .menu_toggle_icon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 0;
  opacity: .8;
}
.menu_main .menu_toggle_icon:after {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  left: 5px;
  top: 5px;
  background: url(../img/layout/menu/icon-menu-toggle.svg) no-repeat;
}
.menu_item {
  display: block;
  height: 60px;
  position: relative;
  color: #fff;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 60px;
}
.menu_item .menu_item_icon {
  position: absolute;
  left: 28px;
  top: 15px;
  display: block;
}
.menu_item .icon_menu_email {
  left: 28px;
  top: 15px;
}
.menu_item .icon_menu_chain {
  left: 28px;
  top: 16px;
}
.menu_item .icon_menu_templates {
  left: 28px;
  top: 17px;
}
.menu_item .icon_menu_clients {
  top: 19px;
  left: 26px;
}
.menu_item .icon_menu_settings {
  top: 14px;
  left: 27px;
}
.menu_item .menu_item_text {
  display: none;
  padding-left: 40px;
  font-size: 16px;
  line-height: 1;
}
.menu_item:hover,
.menu_item.selected {
  color: #313e49;
}
.menu_item:hover .icon_menu_email,
.menu_item.selected .icon_menu_email {
  background-image: url(../img/layout/menu/icon-menu-email-a.svg);
}
.menu_item:hover .icon_menu_chain,
.menu_item.selected .icon_menu_chain {
  background-image: url(../img/layout/menu/icon-menu-chain-a.svg);
}
.menu_item:hover .icon_menu_templates,
.menu_item.selected .icon_menu_templates {
  background-image: url(../img/layout/menu/icon-menu-temp-a.svg);
}
.menu_item:hover .icon_menu_clients,
.menu_item.selected .icon_menu_clients {
  background-image: url(../img/layout/menu/icon-menu-clients-a.svg);
}
.menu_item:hover .icon_menu_settings,
.menu_item.selected .icon_menu_settings {
  background-image: url(../img/layout/menu/icon-menu-set-a.svg);
}
.menu_item.selected {
  font-weight: bold;
  background-color: #6577a4;
}
/*=== State for menu ==*/
.show_navigation .menu_main {
  display: block;
}
.l_menu.show_full_menu {
  width: 250px;
}
.l_menu.show_full_menu .menu_logo:before {
  width: 67px;
  height: 40px;
  left: 92px;
  top: 30px;
}
.l_menu.show_full_menu .l_menu_bg {
  width: 250px;
}
.l_menu.show_full_menu .menu_main:after {
  left: 40px;
  right: 30px;
}
.l_menu.show_full_menu .menu_toggle {
  margin-left: 40px;
  margin-right: 30px;
}
.l_menu.show_full_menu .menu_toggle_icon {
  right: -4px;
}
.l_menu.show_full_menu .menu_item,
.l_menu.show_full_menu .menu_add_item {
  padding-left: 40px;
  padding-right: 30px;
}
.l_menu.show_full_menu .menu_item_icon {
  margin-left: 40px;
}
.l_menu.show_full_menu .icon_menu_email,
.l_menu.show_full_menu .icon_menu_chain,
.l_menu.show_full_menu .icon_menu_templates {
  left: 0;
}
.l_menu.show_full_menu .icon_menu_clients {
  left: -2px;
}
.l_menu.show_full_menu .icon_menu_settings {
  left: -1px;
}
.l_menu.show_full_menu .menu_toggle_text,
.l_menu.show_full_menu .menu_item_text {
  display: inline-block;
}
.l_menu.show_full_menu .menu_toggle_text {
  padding-top: 4px;
  margin-left: -3px;
}
.l_menu.show_full_menu .menu_add_text {
  display: inline-block;
}
.l_menu.show_full_menu .menu_add_icon {
  margin-left: 40px;
}
.l_menu.show_full_menu .menu_add_icon {
  left: 2px;
}
.menu_add_notif .notif_popup {
  right: -300px;
  top: -70px;
}
.menu_add_notif:hover .notif_popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.notif_popup {
  position: absolute;
  min-height: 100px;
  width: 300px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-transform: translate(10px, 0);
  -moz-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
  transform: translate(10px, 0);
  opacity: 0;
  visibility: hidden;
}
.notif_popup:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-left: none;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent !important;
  left: -10px;
  top: 80px;
}
.notif_popup:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  left: -20px;
}
.notif_popup_item {
  position: relative;
  height: 88px;
  overflow: hidden;
  border-top: 2px solid #f2f2f2;
  text-decoration: none !important;
  color: #333333;
  text-align: left;
}
.notif_popup_item:first-child {
  border-top: none;
}
.notif_popup_item:hover .notif_popup_title {
  color: #6E9FEE;
}
.notif_popup_item .notif_popup_icon {
  position: absolute;
  left: 32px;
  top: 28px;
}
.notif_popup_item .notif_popup_content {
  display: table;
  height: 88px;
  margin-left: 80px;
}
.notif_popup_item .notif_popup_text {
  display: table-cell;
  height: 88px;
  vertical-align: middle;
  color: #727271;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.notif_popup_item .notif_popup_title {
  font-weight: 500;
  color: #000;
  margin-bottom: 1px;
}
.notif_popup_item.type_complete .notif_popup_icon {
  margin: 1px 0 0 1px;
  width: 30px;
  height: 30px;
  background: url(../img/layout/notification/icon-notif-complete.svg) no-repeat;
}
.notif_popup_item.type_info .notif_popup_icon {
  width: 32px;
  height: 32px;
  background: url(../img/layout/notification/icon-notif-info.svg) no-repeat;
}
.notif_popup_item.type_alert .notif_popup_icon {
  width: 32px;
  height: 32px;
  background: url(../img/layout/notification/icon-notif-alert.svg) no-repeat;
}
.notif_popup_item.type_exit .notif_popup_icon {
  width: 32px;
  height: 32px;
  background: url(../img/layout/notification/icon-notif-exit.svg) no-repeat;
}
.notif_popup_item.type_closed {
  background-color: #f2f2f2;
  border-top-color: #e6e6e6;
  cursor: default;
}
.notif_popup_item.type_closed .notif_popup_title,
.notif_popup_item.type_closed .notif_popup_text {
  color: #a9a9a9;
}
.notif_popup_item.type_closed .notif_popup_icon {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .7;
}
.menu_add_partner .partner_popup {
  right: -340px;
  top: -70px;
}
.menu_add_partner:hover .partner_popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.partner_popup {
  position: absolute;
  min-height: 100px;
  width: 340px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-transform: translate(10px, 0);
  -moz-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
  transform: translate(10px, 0);
  opacity: 0;
  visibility: hidden;
}
.partner_popup:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-left: none;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent !important;
  left: -10px;
  top: 80px;
}
.partner_popup:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  left: -20px;
}
.partner_popup_item {
  display: block;
  position: relative;
  padding-left: 80px;
  height: 68px;
  overflow: hidden;
  border-top: 2px solid #f2f2f2;
  text-decoration: none !important;
  color: #000;
  text-align: left;
  font-size: 16px;
  line-height: 68px;
}
.partner_popup_item:first-child {
  border-top: none;
}
.partner_popup_item:hover {
  color: #6E9FEE;
}
.partner_popup_item .partner_popup_id {
  float: right;
  width: 62px;
  margin-left: 23px;
  font-size: 14px;
  font-weight: 300;
  color: #b2b2b2;
  text-transform: uppercase;
  line-height: 76px;
}
.partner_popup_item .partner_popup_ava {
  position: absolute;
  left: 34px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #afafaf;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.l_footer .footer_sm_link {
  padding-left: 40px;
}
.l_footer .footer_sm_right {
  padding-right: 59px;
  float: right;
}
.l_footer .footer_sm_toggle {
  position: absolute;
  right: 0;
  top: 0;
}
.l_footer .footer_sm_id {
  float: right;
  padding-top: 25px;
  margin-left: 30px;
}
.l_footer .footer_sm_email {
  float: right;
  margin: 0px 17px 0 40px;
  padding-top: 25px;
}
.l_footer .footer_sm_phone {
  float: right;
  font-size: 14px;
  padding-top: 26px;
}
.l_footer .footer_sm_btn {
  margin-left: 40px;
}
.footer_sm {
  color: #727271;
  font-size: 12px;
  line-height: 60px;
}
.footer_sm_right {
  position: relative;
  line-height: 1;
}
.footer_sm_toggle {
  display: block;
  height: 60px;
  width: 50px;
  background-color: #d9d9d6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_sm_toggle:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: none;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-bottom: 5px solid #6c6c6b;
  margin: -3px 0 0 -5px;
}
.footer_sm_toggle:hover {
  background-color: #d2d2d2;
}
.footer_sm_id {
  min-width: 106px;
  position: relative;
}
.footer_sm_id:after {
  content: '';
  position: absolute;
  background: url(../img/layout/icon-id-man.svg) no-repeat;
  left: -19px;
  top: 21px;
  width: 17px;
  height: 18px;
}
.footer_sm_email {
  min-width: 123px;
  position: relative;
}
.footer_sm_email:after {
  content: '';
  position: absolute;
  background: url(../img/layout/icon-support.svg) no-repeat;
  left: -22px;
  top: 24px;
  width: 18px;
  height: 14px;
}
.footer_sm_email:hover:after {
  background-image: url(../img/layout/icon-support-a.svg);
}
.footer_sm_phone {
  position: relative;
  min-width: 134px;
  font-size: 14px;
  color: #5c5b5a;
  font-weight: 100;
}
.footer_sm_phone:after {
  content: '';
  position: absolute;
  background: url(../img/layout/icon-hotline.svg) no-repeat;
  left: -27px;
  top: 21px;
  width: 21px;
  height: 20px;
}
.footer_sm_phone:hover .footer_sm_phone_popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.footer_sm_phone_popup {
  min-height: 105px;
  bottom: 30px;
  width: 250px;
  margin-left: -81px;
  opacity: 1;
  padding: 20px 9px 15px 29px;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
}
@media screen and (max-width: 1200px) {
  .l_footer .footer_sm_link {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .l_footer .footer_sm_link_hide {
    display: none !important;
  }
}
.footer_lg {
  height: 300px;
  padding-top: 54px;
  padding-left: 111px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer_lg .footer_lg_toggle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
}
.footer_lg .footer_info_col {
  float: right;
  padding-top: 4px;
}
.footer_lg .footer_nav {
  overflow: hidden;
}
/*== footer info ==*/
.footer_lg_toggle {
  display: block;
  width: 50px;
  background-color: #d9d9d6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer_lg_toggle:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 20px;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-top: 5px solid #6c6c6b;
  margin: -3px 0 0 -5px;
}
.footer_lg_toggle:hover {
  background-color: #d2d2d2;
}
.footer_info_col {
  width: 318px;
  font-size: 14px;
  font-weight: 300;
  color: #727271;
}
.footer_info_col .footer_info_phone {
  margin-bottom: 31px;
  position: relative;
}
.footer_info_col .footer_info_phone:hover .footer_info_popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.footer_info_col .footer_info_phone_number {
  font-size: 25px;
  font-weight: 100;
  color: #727271;
  margin-bottom: 1px;
}
.footer_info_col .footer_info_hint {
  font-size: 12px;
  color: #a09f9e;
}
.footer_info_col .footer_info_popup {
  min-height: 105px;
  bottom: 61px;
  width: 250px;
  margin-left: -54px;
  opacity: 0;
  padding: 20px 9px 15px 29px;
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
}
.footer_info_col .footer_info_support {
  margin-bottom: 30px;
}
.footer_info_col .footer_info_support_link {
  position: relative;
  padding-left: 23px;
  display: block;
  margin-bottom: 6px;
}
.footer_info_col .footer_info_support_link:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 14px;
  background: url(../img/layout/icon-support.svg) no-repeat;
}
.footer_info_col .footer_info_id span {
  position: relative;
  display: block;
  padding-left: 20px;
  margin-bottom: 7px;
}
.footer_info_col .footer_info_id span:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 17px;
  height: 18px;
  background: url(../img/layout/icon-id-man.svg) no-repeat;
}
/*== base navigation in the footer ==*/
.footer_nav_col {
  float: left;
  text-align: left;
}
.footer_nav_col.first_col {
  margin-right: 10.1%;
  width: 30%;
}
.footer_nav_col.second_col {
  margin-right: 8%;
  width: 20%;
}
.footer_nav_col.third_col {
  width: 20%;
}
.footer_nav_col.third_col .footer_nav_title {
  margin-bottom: 14px;
}
.footer_nav_col .footer_nav_title {
  margin-bottom: 17px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 300;
  text-transform: uppercase;
  color: #bdbcba;
}
.footer_nav_col .footer_nav_link {
  display: block;
  font-size: 14px;
  margin-bottom: 24px;
  font-weight: 300;
}
.footer_nav_col .footer_nav_copyright {
  margin-top: 23px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #bdbcca;
}
.footer_nav_col [class*="link_social"] {
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 1200px) {
  .footer_info_col {
    width: 280px;
  }
  .footer_lg {
    padding-left: 70px;
  }
}
@media screen and (max-width: 1100px) {
  .footer_info_col {
    width: 230px;
  }
  .footer_lg {
    padding-left: 30px;
  }
  .footer_nav_col.first_col,
  .footer_nav_col.second_col {
    margin-right: 8%;
  }
  .footer_nav_col.third_col {
    width: 30%;
  }
}
[class*="link_social"] {
  display: inline-block;
  position: relative;
  padding-left: 36px;
  height: 25px;
  color: #727271;
  text-decoration: none !important;
  line-height: 25px;
  font-weight: 300;
}
[class*="link_social"]:hover {
  color: #6E9FEE;
}
[class*="link_social"]:hover:before {
  border-color: #6E9FEE;
}
[class*="link_social"]:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  border: 1px solid #a09f9e;
}
[class*="link_social"]:after {
  content: '';
  position: absolute;
}
.link_social_blog:after {
  width: 15px;
  height: 14px;
  background: url(../img/layout/social/icon-blog.svg) no-repeat;
  left: 6px;
  top: 4px;
}
.link_social_blog:hover:after {
  background-image: url(../img/layout/social/icon-blog-a.svg);
}
.link_social_vk:after {
  width: 15px;
  height: 9px;
  background: url(../img/layout/social/icon-vk.svg) no-repeat;
  left: 5px;
  top: 8px;
}
.link_social_vk:hover:after {
  background-image: url(../img/layout/social/icon-vk-a.svg);
}
.link_social_fb:after {
  width: 8px;
  height: 15px;
  background: url(../img/layout/social/icon-fb.svg) no-repeat;
  left: 9px;
  top: 4px;
}
.link_social_fb:hover:after {
  background-image: url(../img/layout/social/icon-fb-a.svg);
}
.link_social_tw:after {
  width: 15px;
  height: 12px;
  background: url(../img/layout/social/icon-tw.svg) no-repeat;
  left: 5px;
  top: 6px;
}
.link_social_tw:hover:after {
  background-image: url(../img/layout/social/icon-tw-a.svg);
}
/*== State ==*/
.show_full_footer.l_page_padding {
  height: 300px;
}
.show_full_footer.l_footer {
  margin-top: -300px;
  height: 300px;
}
.show_full_footer.l_footer .footer_lg {
  display: block;
}
.show_full_footer.l_footer .footer_sm {
  display: none;
}
