<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/app.css">

    <link rel="stylesheet" href="plugins/select/css/selectize.css">
    <link rel="stylesheet" href="plugins/select/css/selectize.default.css">
    <link rel="stylesheet" href="plugins/map/jquery-jvectormap-2.0.1.css">

    <script src="js/vendor/modernizr.js"></script>
</head>
<body>



<div class="l_page">

    <div class="l_menu show_notification">
        <div class="l_menu_bg"></div>
        <div class="l_menu_inner">
            <i class="menu_logo"></i>

            <div class="menu_main">
                <div class="menu_toggle">
                    <div class="menu_toggle_text">
                        Sender
                    </div>
                    <div class="menu_toggle_icon"></div>
                </div>

                <a href="#" class="menu_item selected"> <i class="menu_item_icon icon_menu_email"></i>
                    <span class="menu_item_text">
                        Рассылки
                    </span> </a>

                <a href="#" class="menu_item"> <i class="menu_item_icon icon_menu_chain"></i>
                    <span class="menu_item_text">
                        Цепочки
                    </span> </a>

                <a href="#" class="menu_item"> <i class="menu_item_icon icon_menu_templates"></i>
                    <span class="menu_item_text">
                        Шаблоны
                    </span> </a>

                <a href="#" class="menu_item"> <i class="menu_item_icon icon_menu_clients"></i>
                    <span class="menu_item_text">
                        Клиенты
                    </span> </a>

                <a href="#" class="menu_item"> <i class="menu_item_icon icon_menu_settings"></i>
                    <span class="menu_item_text">
                        Настройки
                    </span> </a>
            </div>


        </div>
    </div>
    <!-- /l_menu -->
    <div class="l_page_content_con">
        <div class="l_page_content">
            {% body %}
        </div>   <!-- /l_page_content -->
    </div>

    <div class="l_page_padding"></div>
</div>
<!-- /l_page -->


<div class="l_footer l_footer_sender">
    <div class="l_footer_inner">

        <div class="footer_lg hidden">
            <div class="footer_info_col">
                <div class="footer_info_phone">
                    <div class="popup_simple footer_info_popup">
                        Связь с вашим персональным менеджером. При обращении может укажите ваш ID: 164
                    </div>
                    <div class="footer_info_phone_number">8 800 500_21_43</div>
                    <div class="footer_info_hint">
                        Ваш персональный менеджер
                    </div>
                </div>

                <div class="footer_info_support">
                    <a class="link_gray footer_info_support_link" href="mailto:support@sailplay.ru ">support@sailplay.ru</a>
                    <div class="footer_info_hint">
                        Служба технической поддержки
                    </div>
                </div>

                <div class="footer_info_id">
                    <span>Ваш ID: 164 </span>
                    <div class="footer_info_hint">
                        Сообщить при обращении
                    </div>
                </div>
            </div> <!-- /footer_info_col -->

            <div class="footer_nav">
                <div class="footer_nav_col first_col">
                    <h4 class="footer_nav_title">
                        ЮР. ВОПРОСЫ
                    </h4>
                    <a class="link_gray footer_nav_link" href="#">
                        Пользовательское соглашение
                    </a>
                    <a class="link_gray footer_nav_link" href="#">
                        Публичная оферта
                    </a>
                    <a class="link_gray footer_nav_link" href="#">
                        Защита персональных данных
                    </a>

                    <div class="footer_nav_copyright">
                        ©2014 Sailplay
                    </div>
                </div> <!-- /footer_nav_col -->

                <div class="footer_nav_col second_col">
                    <h4 class="footer_nav_title">
                        РАЗРАБОТЧИКАМ
                    </h4>
                    <a class="link_gray footer_nav_link" href="#">
                        Документация
                    </a>
                    <a class="link_gray footer_nav_link" href="#">
                        API
                    </a>
                </div> <!-- /footer_nav_col -->

                <div class="footer_nav_col third_col">
                    <h4 class="footer_nav_title">
                        СЛЕДИ ЗА НОВОСТЯМИ
                    </h4>
                    <a class="link_social_blog" href="#">
                        Наш блог
                    </a>
                    <a class="link_social_vk" href="#">
                        Вконтакте
                    </a>
                    <a class="link_social_fb" href="#">
                        Facebook
                    </a>
                    <a class="link_social_tw" href="#">
                        Twitter
                    </a>
                </div> <!-- /footer_nav_col -->


            </div>

        </div> <!-- /footer_lg -->

        <div class="footer_sm">
            <div class="footer_sm_right">
                <a class="footer_sm_toggle" href="#"></a>

                <div class="footer_sm_id">
                    Ваш ID: 164
                </div>

                <div class="footer_sm_phone">
                    8 800 500-21-43

                    <div class="popup_simple footer_sm_phone_popup">
                        Связь с вашим персональным менеджером. При обращении может укажите ваш ID: 164
                    </div>
                </div>

                <a class="footer_sm_email link_gray" href="mailto:support@sailplay.ru">
                    support@sailplay.ru
                </a>
            </div>

            <a class="link_gray footer_sm_link" href="#">Пользовательское соглашение</a>
            <a class="link_gray footer_sm_link" href="#">Публичная оферта</a>
            <a class="link_gray footer_sm_link footer_sm_link_hide" href="#">Защита персональных данных</a>

        </div> <!-- /footer_sm -->
    </div>
</div><!-- /l_footer -->


<!-- build:js scripts/vendor.js -->
<script src="js/vendor/jquery.min.js"></script>
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script type="text/javascript" src="plugins/select/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="plugins/map/jquery-jvectormap-2.0.1.min.js"></script>
<script type="text/javascript" src="plugins/map/map.js"></script>

<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

</body>
</html>