<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/app.css">

    <link rel="stylesheet" href="plugins/select/css/selectize.css">
    <link rel="stylesheet" href="plugins/select/css/selectize.default.css">

    <link rel="stylesheet" href="plugins/map/jquery-jvectormap-2.0.1.css">

    <link rel="stylesheet" href="plugins/chart/jquery.jqplot.min.css">

    <script src="js/vendor/modernizr.js"></script>
</head>
<body>



    <div class="l_page">
        <div class="l_menu type_responsive">
            <div class="l_menu_bg"></div>
            <div class="l_menu_inner">
                <i class="menu_logo"></i>

                <div class="menu_main">
                    <div class="menu_toggle">
                        <div class="menu_toggle_text">
                            Sender
                        </div>
                        <div class="menu_toggle_icon"></div>
                    </div>

                    <a href="#" class="menu_item selected">
                        <i class="menu_item_icon icon_menu_email"></i>
                        <span class="menu_item_text">
                            Рассылки
                        </span>
                    </a>

                    <a href="#" class="menu_item">
                        <i class="menu_item_icon icon_menu_chain"></i>
                        <span class="menu_item_text">
                            Цепочки
                        </span>
                    </a>

                    <a href="#" class="menu_item">
                        <i class="menu_item_icon icon_menu_templates"></i>
                        <span class="menu_item_text">
                            Шаблоны
                        </span>
                    </a>

                    <a href="#" class="menu_item">
                        <i class="menu_item_icon icon_menu_clients"></i>
                        <span class="menu_item_text">
                            Клиенты
                        </span>
                    </a>

                    <a href="#" class="menu_item">
                        <i class="menu_item_icon icon_menu_settings"></i>
                        <span class="menu_item_text">
                            Настройки
                        </span>
                    </a>
                </div>

                <div class="menu_add">
                    <div class="menu_add_item menu_add_partner" href="#">
                        <i class="menu_add_icon icon_menu_client"></i>
                        <span class="menu_add_text">
                            turbosale
                        </span>

                        <div class="partner_popup">
                            <a class="partner_popup_item" href="#">
                                <div class="partner_popup_id">
                                    ID: 5
                                </div>
                                <div class="partner_popup_ava" style="background-image: url()"></div>
                                <div class="partner_popup_name t_ellps">
                                    turbosale
                                </div>
                            </a>

                            <a class="partner_popup_item" href="#">
                                <div class="partner_popup_id">
                                    ID: 23
                                </div>
                                <div class="partner_popup_ava" style="background-image: url()"></div>
                                <div class="partner_popup_name t_ellps">
                                    Папа Джонс
                                </div>
                            </a>

                            <a class="partner_popup_item" href="#">
                                <div class="partner_popup_id">
                                    ID: 97
                                </div>
                                <div class="partner_popup_ava" style="background-image: url()"></div>
                                <div class="partner_popup_name t_ellps">
                                    tvzavr
                                </div>
                            </a>

                            <a class="partner_popup_item" href="#">
                                <div class="partner_popup_id">
                                    ID: 851
                                </div>
                                <div class="partner_popup_ava" style="background-image: url()"></div>
                                <div class="partner_popup_name t_ellps">
                                    Континентальная Хоккейная лига
                                </div>
                            </a>

                            <a class="partner_popup_item" href="#">
                                <div class="partner_popup_id">
                                    ID: 6751
                                </div>
                                <div class="partner_popup_ava" style="background-image: url()"></div>
                                <div class="partner_popup_name t_ellps">
                                    Пиццерия Престо
                                </div>
                            </a>

                        </div>
                    </div>
                    <a class="menu_add_item menu_add_pays" href="#">
                        <i class="menu_add_icon icon_menu_pays"></i>
                        <span class="menu_add_text">
                            Платежи
                        </span>
                    </a>
                    <a class="menu_add_item menu_add_notif" href="#"> <!-- canbe .type_disabled -->
                        <i class="menu_add_icon icon_menu_notif">
                            <span class="notif_number">5</span>
                        </i>
                        <span class="menu_add_text">
                            Уведомлени
                        </span>

                        <div class="notif_popup">
                            <div class="notif_popup_item type_complete">
                                <i class="notif_popup_icon"></i>
                                <div class="notif_popup_content">
                                    <div class="notif_popup_text">
                                        <h4 class="notif_popup_title">Загрузились контакты
                                        </h4>
                                        <div>Моя первая рассылка</div>
                                    </div>
                                </div>
                            </div>

                            <div class="notif_popup_item type_info">
                                <i class="notif_popup_icon"></i>
                                <div class="notif_popup_content">
                                    <div class="notif_popup_text">
                                        <h4 class="notif_popup_title">Вышел пост в блоге
                                        </h4>
                                        <div>Моя первая рассылка</div>
                                    </div>
                                </div>
                            </div>

                            <div class="notif_popup_item type_alert">
                                <i class="notif_popup_icon"></i>
                                <div class="notif_popup_content">
                                    <div class="notif_popup_text">
                                        <h4 class="notif_popup_title">Требуется оплата
                                        </h4>

                                        <div>за декабрь 2014</div>
                                    </div>
                                </div>
                            </div>

                            <div class="notif_popup_item type_exit">
                                <i class="notif_popup_icon"></i>
                                <div class="notif_popup_content">
                                    <div class="notif_popup_text">
                                        <h4 class="notif_popup_title">Модерация отклонена
                                        </h4>

                                        <div>Моя первая рассылка</div>
                                    </div>
                                </div>
                            </div>

                            <div class="notif_popup_item type_complete type_closed">
                                <i class="notif_popup_icon"></i>
                                <div class="notif_popup_content">
                                    <div class="notif_popup_text">
                                        <h4 class="notif_popup_title">Рассылка завершена
                                        </h4>

                                        <div>Новогодняя акция 2015</div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /notif_popup -->
                    </a>
                </div>

            </div>
        </div> <!-- /l_menu -->

        <div class="l_page_content_con">
            <div class="l_page_content">
                {% body %}
            </div>   <!-- /l_page_content -->
        </div>
        <div class="l_page_padding"></div>
    </div>


<!-- /l_page -->


<div class="l_footer">
    <div class="l_footer_inner">

        <div class="footer_lg hidden">
            <a class="footer_lg_toggle" href="#" data-footer-toggle></a>

            <div class="footer_info_col">
                <div class="footer_info_phone">
                    <div class="popup_simple footer_info_popup">
                        Связь с вашим персональным менеджером. При обращении может укажите ваш ID: 164
                    </div>
                    <div class="footer_info_phone_number">8 800 500-21-43</div>
                    <div class="footer_info_hint">
                        Ваш персональный менеджер
                    </div>
                </div>

                <div class="footer_info_support">
                    <a class="link_gray footer_info_support_link" href="mailto:support@sailplay.ru ">support@sailplay.ru</a>
                    <div class="footer_info_hint">
                        Служба технической поддержки
                    </div>
                </div>

                <div class="footer_info_id">
                    <span>Ваш ID: 164 </span>
                    <div class="footer_info_hint">
                        Сообщить при обращении
                    </div>
                </div>
            </div> <!-- /footer_info_col -->

            <div class="footer_nav">
                <div class="footer_nav_col first_col">
                    <h4 class="footer_nav_title">
                        ЮР. ВОПРОСЫ
                    </h4>
                    <a class="link_gray footer_nav_link" href="#">
                        Пользовательское соглашение
                    </a>
                    <a class="link_gray footer_nav_link" href="#">
                        Публичная оферта
                    </a>
                    <a class="link_gray footer_nav_link" href="#">
                        Защита персональных данных
                    </a>

                    <div class="footer_nav_copyright">
                        ©2014 Sailplay
                    </div>
                </div> <!-- /footer_nav_col -->

                <div class="footer_nav_col second_col">
                    <h4 class="footer_nav_title">
                        РАЗРАБОТЧИКАМ
                    </h4>
                    <a class="link_gray footer_nav_link" href="#">
                        Документация
                    </a>
                    <a class="link_gray footer_nav_link" href="#">
                        API
                    </a>
                </div> <!-- /footer_nav_col -->

                <div class="footer_nav_col third_col">
                    <h4 class="footer_nav_title">
                        СЛЕДИ ЗА НОВОСТЯМИ
                    </h4>
                    <a class="link_social_blog" href="#">
                        Наш блог
                    </a>
                    <a class="link_social_vk" href="#">
                        Вконтакте
                    </a>
                    <a class="link_social_fb" href="#">
                        Facebook
                    </a>
                    <a class="link_social_tw" href="#">
                        Twitter
                    </a>
                </div> <!-- /footer_nav_col -->


            </div>

        </div> <!-- /footer_lg -->

        <div class="footer_sm">
            <div class="footer_sm_right">
                <a class="footer_sm_toggle" href="#" data-footer-toggle></a>

                <div class="footer_sm_id">
                    Ваш ID: 164
                </div>

                <a class="footer_sm_email link_gray" href="mailto:support@sailplay.ru">
                    support@sailplay.ru
                </a>

                <div class="footer_sm_phone">
                    8 800 500-21-43

                    <div class="popup_simple footer_sm_phone_popup">
                        Связь с вашим персональным менеджером. При обращении может укажите ваш ID: 164
                    </div>
                </div>
            </div>
            <span class="footer_sm_link">
                ©2014 Sailplay
            </span>
            <a class="link_gray footer_sm_link footer_sm_link_hide"  href="#">
                Документация
            </a>
            <a class="link_gray footer_sm_link footer_sm_link_hide" href="#">
                Api
            </a>

            <a href="#" class="btn_blue_light footer_sm_btn">
                Как создать рассылку
            </a>

        </div> <!-- /footer_sm -->
    </div>
</div><!-- /l_footer -->


<!-- build:js scripts/vendor.js -->
<script src="js/vendor/jquery.min.js"></script>
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script type="text/javascript" src="plugins/select/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="plugins/map/jquery-jvectormap-2.0.1.min.js"></script>
<script type="text/javascript" src="plugins/map/map.js"></script>
<script type="text/javascript" src="plugins/chart/jquery.jqplot.min.js"></script>


<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

</body>
</html>