@import "./../libs/mixins";
@import "./../libs/vars";


.navigation_list{
    .clearfix();

    .navigation_list_item{
        float: left;
        display: block;
        margin-right: -2px;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        text-align: center;
        font-size: 30px;
        line-height: 55px;
        font-weight: 100;
        text-decoration: none !important;
        color: @default !important;

        &:hover{
            color: @darkBlue !important;
        }

        &.selected{
            cursor: default;
            color: @white !important;
            background-color: @darkBlue;
        }
    }
}