@import "./../libs/mixins";
@import "./../libs/vars";

.popup_menu{
    position: relative;
    width: 150px;
    border-radius: 3px;
    background-color: @white;
    min-height: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0, .3);
    visibility: hidden;
    opacity: 0;
    .transition(all .15s ease);

    &:before{
        content: '';
        position: absolute;
        .triangle(20px, 10px, @white, 'up');
        left: 50%;
        margin-left: -10px;
        top: -10px;
    }

    .popup_menu_item{
        display: block;
        height: 48px;
        padding: 0 15px 0 30px;
        border-top: 2px solid @smoothWhite;
        text-decoration: none !important;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        text-transform: none;
        line-height: 48px;
        color: @darkGray !important;
        .t-ellps();

        &:hover{
            background-color: @smoothWhite;
        }

        &:first-child{
            border-top: none;
            border-radius: 3px 3px 0 0;
        }

        &:last-child{
            border-radius: 0 0 3px 3px
        }

    }
}