@import "./../libs/mixins";
@import "./../libs/vars";

.popup_simple{
    position: absolute;
    border-radius: 2px;
    width: 350px;
    padding: 20px 40px;
    min-height: 100px;
    .box-sizing(border-box);
    background-color: @white;
    box-shadow: 0 1px 1px rgba(0,0,0, .3);
    font-size: 14px;
    line-height: 20px;
    color:@darkGray !important;
    text-decoration: none !important;
    cursor: default;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;

//    .transition(all .15s ease);
    z-index: 100;

    &:after{
        content: '';
        position: absolute;
        left: 50%;
        .triangle(20px, 10px, @white, 'down');
        margin-left: -10px;
        bottom: -10px;
    }
}