@import "./../libs/mixins";
@import "./../libs/vars";

.sender_item{
    background-color: @white;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0, .2);
    text-align: center;
    height: 400px;
    width: 260px;
    position: relative;

    .sender_item_check{
        position: absolute;
        left: 22px;
        top: 20px;
    }

    .check_simple_pretty{
        opacity: .2;
    }

    .sender_item_icon{
        position: absolute;
        left: 50%;
        top: 20px;

        &.type_email{
            width: 43px;
            height: 30px;
            margin: 31px 0 0 -23px;
            background: url(../img/sender-item/icon-sender-email.svg) no-repeat;
        }

        &.type_sms{
            width: 42px;
            height: 43px;
            margin: 24px 0 0 -16px;
            background: url(../img/sender-item/icon-sender-sms.svg) no-repeat;
        }
    }

    .sender_item_title{
        display: table;
        height: 110px;
        width: 100%;
        padding: 83px 0 0;
        margin-bottom: 9px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 100;
    }

    .sender_item_title_inner{
        display: table-cell;
        vertical-align: middle;
        padding: 0 35px;
        height: 110px;
    }

    .sender_item_count{
        margin: 0 6px 24px 0;
        font-size: 35px;
        line-height: 1;
        font-weight: 300;
        color: @blue;

        &:before{
            content: '';
            display: inline-block;
            vertical-align: -1px;
            margin-right: -2px;
            width: 22px;
            height: 26px;
            background: url(../img/sender-item/icon-sender-man.svg) no-repeat;
        }
        
        .count_all{
            color: @default;
        }
    }

    .sender_item_buttons{
        height: 40px;
    }

    //buttons
    .sender_item_btn{
        display: inline-block;
        vertical-align: top;
        height: 40px;
        color: @white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 20px;
        line-height: 40px;
        .transition(all .15s ease);
        text-decoration: none !important;
    }

    .sender_btn_edit{
        padding: 0 23px 0 50px;
        min-width: 102px;
        background-color: @blue;
        position: relative;

        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 22px;
            top: 11px;
            width: 19px;
            height: 19px;
            background: url(../img/sender-item/icon-edit-pencil.svg) no-repeat;

        }

        &:hover{
            opacity: .8;
        }
    }

    .sender_btn_moderation{
        display: none;
        background-color: @orange;
        position: relative;
        padding: 0 29px 0 51px;

        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 19px;
            top: 12px;
            width: 26px;
            height: 17px;
            background: url(../img/sender-item/icon-moderation.svg) no-repeat;
        }
    }

    .sender_btn_sending{
        display: none;
        background-color: @orange;
        padding: 0 20px;

        &:before{
            content: '';
            display: inline-block;
            margin-right: 5px;
        }
    }

    .sender_item_hint{
        display: none;
        margin-top: 15px;
        font-size: 11px;
        line-height: 1;
        color: #cdcdcd;
    }

    .sender_item_statistics{
        display: none;
        margin: -11px 40px 0;
        padding-top: 18px;
        text-align: justify;
        border-top: 2px solid rgba(0,0,0, .05);
        font-size: 20px;

        &:after{
            content: '';
            display: inline-block;
            width: 100%;
            overflow: hidden;
            min-height: 1px;
        }
    }

    .sender_item_static_val{
        display: inline-block;
        vertical-align: top;
    }

    .sender_item_date{
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        bottom: 21px;
        font-size: 12px;
        font-weight: 300;
        color: @lightGray;
    }

    //tags block
    .sender_item_tags{
        display: table;
        width: 100%;
        opacity: 0.5;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 140px;
        background-color: @smoothWhite;
        border-radius: 0 0 2px 2px;
    }

    .sender_item_tags_inner{
        display: table-cell;
        padding: 20px 30px;
        vertical-align: middle;
        height: 95px;
        overflow: hidden;
        text-align: center;
    }

    .sender_tag{
        margin: 0 0 2px;
        vertical-align: top;
    }
}


/*==== State for sender ==*/
.show_state_moderation{

    .sender_item_count{
        color: @orange;

        &:before{
            left: 10px;
            top: 20px;
            background-image: url(../img/sender-item/icon-sender-man1.svg);
        }
    }

    .sender_btn_edit{
        display: none;
    }

    .sender_item_hint{
        display: block;
    }

    .sender_btn_moderation{
        display: inline-block;
    }

    .sender_item_date{
        color: @orange;
    }
}

.show_state_sending{
    .sender_item_count{
        color: @orange;

        &:before{
            left: 10px;
            top: 20px;
            background-image: url(../img/sender-item/icon-sender-man1.svg);
        }
    }

    .sender_btn_edit{
        display: none;
    }

    .sender_btn_sending{
        display: inline-block;
    }

    .sender_item_date{
        color: @orange;
    }
}

.show_state_final{
    .sender_item_statistics{
        display: block;
    }

    .sender_item_buttons{
        display: none;
    }

    .sender_item_count{
        color: @green;

        &:before{
            background-image: url(../img/sender-item/icon-sender-man2.svg);
        }
    }
}

.show_state_checking{
    background-color: #e2e8f3;
}

.show_state_tags{
    height: 470px;

    .sender_item_tags{
        opacity: 1;
        visibility: visible;
    }

    .sender_item_icon.type_email{
        margin-top: 11px;
    }

    .sender_item_icon.type_sms{
        margin-top: 4px;
    }

    .sender_item_title{
        padding-top: 62px;
        margin-bottom: -1px;
    }

    .sender_item_hint{
        display: none;
    }

    .sender_item_date{
        bottom: 161px;
    }
}