@import "./../libs/vars";

.sender_tag{
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    color: @white;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    max-width: 140px;

    &.blue{
        background-color: @blue;
    }

    &.red{
        background-color: #ec646a;
    }

    &.green{
        background-color: #58bf89;
    }

    &.orange{
        background-color: #dca363;
    }

    &.default{
        background-color: #e7e7e7;
        color: #8b8b8b;
    }

    &.more_tags{
        background-color: #dadada;
        color: #6c6c6c;
    }

    &.all_tags{
        background-color: transparent;
        color: #929292;
        border: 1px solid #dadada;
        height: 28px;
        line-height: 28px;
    }
}