
@import "./../libs/vars";

.tabs_simple{
    .tab_simple_item{
        display: inline-block;
        vertical-align: top;
        margin-right: 11px;
        border-radius: 30px;
        padding: 0 15px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 100;
        text-decoration: none !important;
        color: @darkGray;

        &.selected{
            background-color: @yellow;
            color: @darkGray !important;
            cursor: default;
        }

        &:hover{
            color: @blueLight ;
        }
    }
}