@import "./../libs/mixins";
@import "./../libs/vars";



.tooltip_simple{
    height: 50px;
    position: absolute;
    min-width: 140px;
    text-align: center;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    color: @default;
    line-height: 50px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0, .3);
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    .transition(all .1s linear);
    z-index: 99;

    &.type_top{
        .transform( translate(0, -10px));

        &:after{
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -10px;
            bottom: -10px;
            .triangle(20px, 10px, #fff, 'down');
        }
    }

    &.state_show{
        opacity: 1;
        visibility: visible;
        .transform( translate(0, 0));
    }
}