@import "./../libs/vars";
@import "./../libs/mixins";


// Links
.link_gray{
    color: @gray;
    text-decoration: none !important;
    
    &:hover{
        color: @blueLight;
    }
}

.link_blue_light{
    color: @blueLight;
    text-decoration: none !important;

    &:hover{
        color: @darkBlue;
    }
}


// Buttons
.btn_blue_light{
    display: inline-block;
    border: 1px solid @blueLight;
    padding: 8px 10px;
    border-radius: 2px;
    background: none;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    color: @blueLight;
    text-decoration: none !important;
    .transition(opacity .15s ease);

    &:hover{
        opacity: .8;
    }
}

.btn_blue_flat{
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    color: @white !important;
    padding: 9px 15px;
    border-radius: 20px;
    .transition(all .15s ease);
    text-align: center;
    background-color: @blue;
    text-decoration: none !important;

    &:hover{
        opacity: .9;
    }
}

.btn_gray_square{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: @darkGray !important;
    padding: 12px 15px 11px;
    .transition(all .15s ease);
    text-align: center;
    background-color: @lighterWhite;
    box-shadow: 0 1px 1px rgba(0,0,0, .3);
    text-decoration: none !important;

    &:hover{
        opacity: .9;
    }
}

.btn_gray_light{
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    color: @darkGray !important;
    padding: 11px 15px 9px;
    .transition(all .15s ease);
    text-align: center;
    background-color: @lighterWhite;
    text-decoration: none !important;
    white-space: nowrap;

    &:hover{
        background-color: #d9d9d9;
    }
}

//different sizes
.btn_blue_flat{
    &.size_big{
        border-radius: 50px;
        font-weight: 500;
        min-width: 120px;
        padding: 14px 15px 14px;
        -webkit-font-smoothing: antialiased;
    }
}