@import "./../libs/mixins";
@import "./../libs/vars";

.check_simple{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;

    .check_simple_real{
        position: absolute;
        left: 100%;
        visibility: hidden;
        top: 0;
    }

    .check_simple_pretty{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: url(../img/components/icon-check.svg) no-repeat;
    }
}

.check_simple_real:checked + .check_simple_pretty{
    opacity: 1 !important;
    background: url(../img/components/icon-check-a.svg) no-repeat;
}

// select simple
.select_simple{
    .selectize-input{
        height: 50px;
        font-size: 14px;
        font-weight: 300;
        color: #303030;
        line-height: 50px;
        background: #dfdfdf !important;
        padding: 0 30px 0 20px;
        box-shadow: 0 1px 0.5px rgba(0,0,0, .2) !important;
        border: none !important;

        input{
            display: none !important;
        }
    }

    .selectize-input:after{
        border-top-color: #6f6f70 !important;
        margin-top: 0 !important;
    }

    .dropdown-active:after{
        border-bottom-color: #6f6f70 !important;
    }

}

.select2-search{
    display: none !important;
}