//display generics
.inline_block {
    display: inline-block !important;
}

.hidden,
.hidden.clearfix{
    display: none;
}

.text_center {
    text-align: center !important;
}

.text_left {
    text-align: left !important;
}

.text_right {
    text-align: right !important;
}

.pull_left {
    float: left;
}

.pull_right {
    float: right;
}

.clearfix {
    display: block;
    zoom: 1;

    &:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.no_select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

.no_wrap {
    white-space: nowrap;
}

.italic {
    font-family: 'Georgia';
    font-style: italic;
}

.row {
    width: 100%;
}

.sp_well {
    width: 100%;
    border: 2px dotted rgba(209, 225, 238, 0.7);
    background-color: #f3f7fa;
    .box-sizing(border-box);
}

.bold {
    font-weight: 600 !important;
}

.overflow_hidden {
    overflow: hidden !important;
}
.overflow_auto {
    overflow: auto !important;
}

.p-abs {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.p_rel {
    position: relative !important;
}

.t_ellps {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text_hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.defaults {

    font-family: "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: start;
    font-style: normal;
    line-height: normal;
    font-variant: normal;
    font-weight: normal;
    white-space: normal;

    html, address,
    blockquote,
    body, dd, div,
    dl, dt, fieldset, form,
    frame, frameset,
    h1, h2, h3, h4,
    h5, h6, noframes,
    ol, p, ul, center,
    dir, hr, menu, pre   {  text-align: start; display: block; unicode-bidi: embed; color: #000000; font: 'Arial', sans-serif; }
    li              { display: list-item }
    head            { display: none }
    table           { display: table; color: #000000; font: 'Arial', sans-serif;  }
    tr              { display: table-row }
    thead           { display: table-header-group }
    tbody           { display: table-row-group }
    tfoot           { display: table-footer-group }
    col             { display: table-column }
    colgroup        { display: table-column-group }
    td, th          { display: table-cell; text-align: center; }
    caption         { display: table-caption }
    th              { font-weight: bolder; text-align: center; }
    caption         { text-align: center }
    body            { margin: 8px }
    h1              { font-size: 2em; margin: .67em 0 }
    h2              { font-size: 1.5em; margin: .75em 0 }
    h3              { font-size: 1.17em; margin: .83em 0 }
    h4, p,
    blockquote, ul,
    fieldset, form,
    ol, dl, dir,
    menu            { margin: 1em 0 }
    h5              { font-size: .83em; margin: 1.5em 0 }
    h6              { font-size: .75em; margin: 1.67em 0 }
    h1, h2, h3, h4,
    h5, h6, b,
    strong          { font-weight: bolder }
    blockquote      { margin-left: 40px; margin-right: 40px }
    i, cite, em,
    var, address    { font-style: italic }
    pre, tt, code,
    kbd, samp       { font-family: monospace }
    pre             { white-space: pre }
    button, textarea,
    input, select   { display: inline-block }
    big             { font-size: 1.17em }
    small, sub, sup { font-size: .83em }
    sub             { vertical-align: sub }
    sup             { vertical-align: super }
    thead, tbody,
    tfoot           { vertical-align: middle }
    td, th, tr      { vertical-align: inherit }
    s, strike, del  { text-decoration: line-through }
    hr              { border: 1px inset }
    ol, ul, dir,
    menu, dd        { margin-left: 40px }
    ol              { list-style-type: decimal }
    ol ul, ul ol,
    ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
    u, ins          { text-decoration: underline }
    br:before       { content: "\A"; white-space: pre-line }
    center          { text-align: center }
    :link, :visited { text-decoration: underline }
    :focus          { outline: thin dotted invert }
    ul { list-style: disc outside none }

    /* Begin bidirectionality settings (do not change) */
    BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
    BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

    *[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
    *[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

    @media print {
        h1            { page-break-before: always }
        h1, h2, h3,
        h4, h5, h6    { page-break-after: avoid }
        ul, ol, dl    { page-break-before: avoid }
    }

}

