
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: @default;
    background-color: #f1f1ee;
}

html {
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

audio,
canvas,
progress,
video {
    display: inline-block; // 1
    vertical-align: baseline; // 2
}

audio:not([controls]) {
    display: none;
    height: 0;
}
