---
layout: default.hbs
---


<div class="dash_page">
    <i class="icon_man"></i>

    <h1 class="dash_page_title">
        Добро пожаловать<br>на Sailplay
    </h1>

    <div class="dash_page_subtitle">
        Первый раз это всегда так волнительно.<br> Выберите сервис.
    </div>

    <div class="service_list clearfix dash_page_list">
        <div class="service_list_inner">

            <a href="#" class="service_item_dash"> <i class="service_item_icon icon_loyalty">
                    <div class="popup_simple service_item_popup">
                        <div class="popup_title">
                            Sailplay Loyalty
                        </div>
                        Сервис позволит вам в кратчайшие сроки запустить вашу собственную программу лояльности ваших
                        клиентов. Повышая лояльность ваших клиентов за счет поощрения за совершкнные покупки, активность
                        в социальных сетях и другие действия.
                    </div>
                </i>

                <div class="service_item_title">
                    Loyalty
                </div>

                <div class="service_item_hint">
                    Программа лояльности и покупки
                </div>
            </a>

            <a href="#" class="service_item_dash"> <i class="service_item_icon icon_sender">
                    <div class="popup_simple service_item_popup">
                        <div class="popup_title">
                            Sailplay Loyalty
                        </div>
                        Сервис позволит вам в кратчайшие сроки запустить вашу собственную программу лояльности ваших
                        клиентов. Повышая лояльность ваших клиентов за счет поощрения за совершкнные покупки, активность
                        в социальных сетях и другие действия.
                    </div>
                </i>

                <div class="service_item_title">
                    Sender
                </div>

                <div class="service_item_hint">
                    Инструменты для E_mail и SMS маркетинга
                </div>
            </a>

            <a href="#" class="service_item_dash"> <i class="service_item_icon icon_analytics">
                    <div class="popup_simple service_item_popup">
                        <div class="popup_title">
                            Sailplay Loyalty
                        </div>
                        Сервис позволит вам в кратчайшие сроки запустить вашу собственную программу лояльности ваших
                        клиентов. Повышая лояльность ваших клиентов за счет поощрения за совершкнные покупки, активность
                        в социальных сетях и другие действия.
                    </div>
                </i>

                <div class="service_item_title">
                    Analytics
                </div>

                <div class="service_item_hint">
                    Аналитика по продажам и кампаниям
                </div>
            </a>

            <a href="#" class="service_item_dash"> <i class="service_item_icon icon_crm">
                    <div class="popup_simple service_item_popup">
                        <div class="popup_title">
                            Sailplay Loyalty
                        </div>
                        Сервис позволит вам в кратчайшие сроки запустить вашу собственную программу лояльности ваших
                        клиентов. Повышая лояльность ваших клиентов за счет поощрения за совершкнные покупки, активность
                        в социальных сетях и другие действия.
                    </div>
                </i>

                <div class="service_item_title">
                    CRM
                </div>

                <div class="service_item_hint">
                    Аналитика по продажам и кампаниям
                </div>
            </a>
        </div>
    </div>
</div>