---
layout: sender.hbs
---


<div class="mailing_page">
    <div class="mailing_head s_mailing_head">
        <div class="head_inner">
            <h1 class="head_title">
                Архив рассылок
            </h1>

            <div class="s_mailing_toolbar">
                <div class="toolbar_right">
                    <a class="btn_blue_flat toolbar_btn_create" href="#">
                        Создать рассылку
                    </a>
                    <a class="toolbar_btn_delete" href="#"></a>

                </div>

                <div class="toolbar_main">
                    <label class="toolbar_btn_tags">
                        <div class="check_simple">
                            <input class="check_simple_real" type="checkbox" data-show-tags-toggle />
                            <i class="check_simple_pretty"></i>
                        </div>
                        Показать теги
                    </label>

                    <div class="toolbar_btn_all_con">
                        <a class="toolbar_btn_all" href="#">
                            <div class="check_simple">
                                <i class="check_simple_pretty"></i>
                            </div>
                        </a>
                    </div>

                    <div class="toolbar_controls">
                        <a class="toolbar_btn_search" href="#"></a>
                        <a class="toolbar_btn_refresh" href="#"></a>
                    </div>

                    <div class="toolbar_for_recreating hidden">
                        <a class="toolbar_btn_simple" href="#">
                            Восстановить
                        </a>
                    </div>

                    <div class="toolbar_for_searching hidden">
                        <form action="" class="toolbar_search_form">
                            <input type="text" class="toolbar_search_input" placeholder="Поиск" />
                            <button type="submit" class="toolbar_search_submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mailing_list">
        <div class="mailing_list_inner">

            <div class="sender_item">
                <label class="sender_item_check check_simple">
                    <input type="checkbox" class="check_simple_real" data-show-tags-toggle />
                    <i class="check_simple_pretty"></i>
                </label>

                <i class="sender_item_icon type_email"></i>

                <h4 class="sender_item_title">
                    <div class="sender_item_title_inner">
                        Рассылка по участникам акции (копия)
                    </div>
                </h4>

                <div class="sender_item_count">
                    500
                </div>

                <div class="sender_item_buttons">
                    <a class="sender_btn_edit sender_item_btn" href="#">
                        Редактировать
                    </a>
                    <div class="sender_btn_moderation sender_item_btn">
                        На модерации
                    </div>

                    <div class="sender_btn_sending sender_item_btn" >
                        Ожидает отправки
                    </div>
                </div>

                <div class="sender_item_date">
                    Планируется 25 августа в 12:40
                </div>

                <div class="sender_item_tags">
                    <div class="sender_item_tags_inner">
                        <span class="sender_tag blue t_ellps">Мужчина</span>
                        <span class="sender_tag red t_ellps">18-45</span>
                        <span class="sender_tag orange t_ellps">big sales</span>

                        <span class="sender_tag green t_ellps">Участиники webinar'a</span>
                        <span class="sender_tag green t_ellps">webina 2014</span>
                        <span class="sender_tag more_tags t_ellps">еще 23</span>
                    </div>
                </div>
            </div>

            <div class="sender_item show_state_moderation">
                <label class="sender_item_check check_simple">
                    <input type="checkbox" class="check_simple_real" data-show-tags-toggle />
                    <i class="check_simple_pretty"></i>
                </label>

                <i class="sender_item_icon type_sms"></i>

                <h4 class="sender_item_title">
                    <div class="sender_item_title_inner">
                        Первая SMS
                        рассылка
                    </div>
                </h4>

                <div class="sender_item_count">
                    1200
                </div>

                <div class="sender_item_buttons">
                    <a class="sender_btn_edit sender_item_btn" href="#">
                        Редактировать
                    </a>
                    <div class="sender_btn_moderation sender_item_btn">
                        На модерации
                    </div>

                    <div class="sender_btn_sending sender_item_btn" >
                        Ожидает отправки
                    </div>
                </div>

                <div class="sender_item_hint">
                    Займет не более 4 часов
                </div>

                <div class="sender_item_date">
                    Запланировано на 25 августа в 12:40
                </div>

                <div class="sender_item_tags">
                    <div class="sender_item_tags_inner">
                        <span class="sender_tag blue t_ellps">Мужчина</span>
                        <span class="sender_tag red t_ellps">18-45</span>
                        <span class="sender_tag red t_ellps">10-15</span>
                        <span class="sender_tag red t_ellps">10-15</span>
                        <span class="sender_tag orange t_ellps">big sales</span>

                        <span class="sender_tag green t_ellps">Участиники webinar'a</span>
                    </div>
                </div>
            </div>

            <div class="sender_item show_state_sending">
                <label class="sender_item_check check_simple">
                    <input type="checkbox" class="check_simple_real" data-show-tags-toggle />
                    <i class="check_simple_pretty"></i>
                </label>

                <i class="sender_item_icon type_email"></i>

                <h4 class="sender_item_title">
                    <div class="sender_item_title_inner">
                        Рассылка по участникам акции
                    </div>
                </h4>

                <div class="sender_item_count">
                    30
                </div>

                <div class="sender_item_buttons">
                    <a class="sender_btn_edit sender_item_btn" href="#">
                        Редактировать
                    </a>
                    <div class="sender_btn_moderation sender_item_btn">
                        На модерации
                    </div>

                    <div class="sender_btn_sending sender_item_btn" >
                        Ожидает отправки
                    </div>
                </div>

                <div class="sender_item_date">
                    Запланировано на 25 августа в 12:40
                </div>

                <div class="sender_item_tags">
                    <div class="sender_item_tags_inner">
                        <span class="sender_tag blue t_ellps">Мужчина</span>
                        <span class="sender_tag red t_ellps">18-45</span>
                        <span class="sender_tag green t_ellps">A/b тест вариант 1</span>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>