---
layout: sender.hbs
---


<div class="mailing_page">
    <h1 class="mailing_create_title">
        E-mail/SMS-рассылки
    </h1>

    <div class="mailing_create_bl">
        <i class="mailing_create_img"></i>
        <div class="mailing_create_text">
            Здесь отображается все ваши рассылки.<br/>
            На данный момент вы не создали ни одной рассылки.
        </div>
        <a class="btn_blue_flat size_big mailing_create_btn" href="#">
            Создать первую рассылку
        </a>
    </div>


</div>