---
layout: sender.hbs
---


<div class="mailing_detail_page">
    <div class="mdetail_head">
        <a class="mdetail_back_link" href="#"></a>
        <h1 class="mdetail_title">
            Рассылка по участникам акции

            <div class="mdetail_title_popup ">
                <i class="icon_round_light"></i>

                <div class="popup_menu">
                    <a class="popup_menu_item" href="#">
                        Копировать
                    </a>
                    <a class="popup_menu_item" href="#">
                        В архив
                    </a>
                </div>
            </div>
        </h1>
        <div class="mdetail_head_nav tabs_simple">
            <a class="tab_simple_item selected" href="#static_tab" data_tab>
                Статистика
            </a>
            <a class="tab_simple_item" href="#map_tab" data_tab>
                Карта кликов
            </a>
            <a class="tab_simple_item" href="#geo_tab" data_tab>
                География
            </a>
            <a class="tab_simple_item" href="#howlook_tab" data_tab>
                Как выглядит
            </a>
        </div>
    </div>

    <div class="mdetail_content">
        <div class="mdetail_content_tab mdetail_info hidden" id="static_tab" style="display: block;">
            <div class="mdetail_info_right">
                <div class="mdetail_info_right_inner">

                    <div class="mdetail_info_right_content">
                        <div class="mdetail_info_date">
                            Отправлено <br>
                            25 августа в 12:40
                        </div>

                        <div class="mdetail_info_tags">
                            <h4 class="mdetail_info_tags_title">
                                Аудитория
                            </h4>
                            <span class="sender_tag blue">Мужчина</span>
                            <span class="sender_tag red">15-45</span>
                            <span class="sender_tag red">big sales</span>
                            <span class="sender_tag green">Участиники webinara</span>
                            <span class="sender_tag green">webinar 2014</span>
                        </div>

                        <a class="mdetail_info_btn_analytics btn_gray_light" href="#">
                            Построить аналитику
                        </a>

                    </div>

                </div>
            </div>
            <div class="mdetail_info_content">
                <i class="icons_man_green"></i>
                <div class="mdetail_info_count">
                    3500
                </div>
                <div class="mdetail_info_hint">
                    100% получателей
                </div>

                <div class="mdetail_info_list">
                    <div class="progress_simple">
                        <div class="progress_simple_value">
                            <span>99.2%</span>
                            3500
                        </div>

                        <svg height="130" width="130" class="progress_simple_svg">
                            <circle class="progress_simple_bg" cx="65" cy="65" r="63" stroke="#e6e6e6" stroke-width="4"
                                    fill="none"></circle>

                            <circle class="progress_simple_circle" cx="65" cy="65" r="63" stroke="#58b943" stroke-width="4"
                                    fill="none" stroke-dashoffset="10" stroke-dasharray="396"></circle>
                        </svg>

                        <div class="progress_title">
                            Доставлено
                        </div>

                        <div class="progress_hint">
                            Не доставлено <br/>
                            0.8% (45)

                            <div class="progress_hint_item first">
                                Hard bounce: 0.6% (22)
                            </div>
                            <div class="progress_hint_item">
                                Soft bounce: 0.2% (2)
                            </div>
                        </div>
                    </div>

                    <div class="progress_simple_arrow"></div>

                    <div class="progress_simple">
                        <div class="progress_simple_value">
                            <span>43.2%</span>
                            1944
                        </div>

                        <svg height="130" width="130" class="progress_simple_svg">
                            <circle class="progress_simple_bg" cx="65" cy="65" r="63" stroke="#e6e6e6" stroke-width="4"
                                    fill="none"></circle>

                            <circle class="progress_simple_circle" cx="65" cy="65" r="63" stroke="#58b943" stroke-width="4"
                                    fill="none" stroke-dashoffset="200" stroke-dasharray="396"></circle>
                        </svg>

                        <div class="progress_title">
                            Открыли <br/>
                            письмо
                        </div>

                        <div class="progress_hint">
                            Отписались <br/>
                            0.2% (45)
                        </div>
                    </div>

                    <div class="progress_simple_arrow"></div>

                    <div class="progress_simple">
                        <div class="progress_simple_value">
                            <span>22.2%</span>
                            562
                        </div>

                        <svg height="130" width="130" class="progress_simple_svg">
                            <circle class="progress_simple_bg" cx="65" cy="65" r="63" stroke="#e6e6e6" stroke-width="4"
                                    fill="none"></circle>

                            <circle class="progress_simple_circle" cx="65" cy="65" r="63" stroke="#58b943" stroke-width="4"
                                    fill="none" stroke-dashoffset="310" stroke-dasharray="396"></circle>
                        </svg>

                        <div class="progress_title">
                            Перешли по ссылке
                            из письма
                        </div>

                        <div class="progress_hint">
                            Десктоп: 67% (453)
                            Мобильные: 33% (92)
                        </div>
                    </div>
                </div>

                <h3 class="mdetail_info_title">
                    Открытие писем по часам
                </h3>
                <div class="mdetail_info_graphic">
                    <div id="graph" style="height: 420px; width: 570px;"></div>
                </div>

                <h3 class="mdetail_info_title_popular">
                    Самые популярные ссылки
                </h3>

                <div class="popular_links">
                    <a class="popular_link_item t_ellps" href="#">
                        <i class="popular_link_number">1</i>
                        <span class="popular_link_text">
                            <b>67.0%</b> (3501/600)
                        </span>
                        sailplay.ru/ru/page/platform-choose/
                    </a>
                    <a class="popular_link_item t_ellps" href="#">
                        <i class="popular_link_number">2</i>
                        <span class="popular_link_text">
                            <b>13.0%</b> (524/105)
                        </span>
                        sailplay.ru/ru/page/loyalty-popup/
                    </a>
                    <a class="popular_link_item t_ellps" href="#">
                        <i class="popular_link_number">3</i>
                        <span class="popular_link_text">
                            <b>7.5%</b> (214/67)
                        </span>
                        sailplay.ru/ru/page/sender-intergation/
                    </a>
                </div>

                <a class="btn_gray_light mdetail_info_more_link" href="#">все ссылки</a>
            </div>
        </div>
        <div class="mdetail_content_tab mdetail_map" id="map_tab">
            <div class="mdetail_map_info">
                <div class="mdetail_map_select">

                    <select name="" id="select_simple" class="select_simple">
                        <option value="1">От большего к меньшему</option>
                        <option value="3">От меньшего к большому</option>
                    </select>

                </div>

                <div class="mdetail_map_item" data-map-target="id-e">
                    <div class="label">E</div>
                    <b>67.0%</b> (<span data-tooltip="Всего посетителей">3501</span>/<span  data-tooltip="Всего посетителей">600</span>)
                </div>
                <div class="mdetail_map_item" data-map-target="id-d">
                    <div class="label">D</div>
                    <b>12.0%</b> (<span data-tooltip="Всего посетителей">524</span>/<span  data-tooltip="Всего посетителей">105</span>)
                </div>
                <div class="mdetail_map_item"  data-map-target="id-c">
                    <div class="label">C</div>
                    <b>7.5%</b> (<span data-tooltip="Всего посетителей">214</span>/<span  data-tooltip="Всего посетителей">67</span>)
                </div>
                <div class="mdetail_map_item"  data-map-target="id-e">
                    <div class="label">E</div>
                    <b>3.0%</b> (<span data-tooltip="Всего посетителей">105</span>/<span  data-tooltip="Всего посетителей">35</span>)
                </div>
                <div class="mdetail_map_item"  data-map-target="id-e">
                    <div class="label">E</div>
                    <b>2.1%</b>(<span data-tooltip="Всего посетителей">78</span>/<span  data-tooltip="Всего посетителей">78</span>)
                </div>
                <div class="mdetail_map_item"  data-map-target="id-f">
                    <div class="label">F</div>
                    <b>1.1%</b> (<span data-tooltip="Всего посетителей">34</span>/<span  data-tooltip="Всего посетителей">30</span>)
                </div>
                <div class="mdetail_map_item"  data-map-target="id-g">
                    <div class="label">g</div>
                    <b>0.2%</b> (<span data-tooltip="Всего посетителей">12</span>/<span  data-tooltip="Всего посетителей">7</span>)
                </div>
                <div class="mdetail_map_item"  data-map-target="id-h">
                    <div class="label">h</div>
                    0.1% (<span data-tooltip="Всего посетителей">5</span>/<span  data-tooltip="Всего посетителей">4</span>)
                </div>
            </div>
            <div class="mdetail_map_content">
                <div class="mdetail_map_content_img">
                    <img src="img/sender-detail/image-2.png" width="700" alt=""/>

                    <div class="mdetail_map_overlay">

                        <div class="overlay_item type_size_1" style="left: 50%; top: 70%;" id="id-e">
                            E
                        </div>
                        <div class="overlay_item type_size_2" style="left: 83%;top: 47%;" id="id-d">
                            D
                        </div>
                        <div class="overlay_item type_size_3" style="left: 70%;top: 48.7%;"  id="id-c">
                            C
                        </div>
                        <div class="overlay_item type_size_3" style="top: 90.3%; left: 39.5%;"  id="id-f">
                            F
                        </div>
                        <div class="overlay_item type_size_3" style="left: 47.4%;top: 10.5%;"  id="id-a">
                            A
                        </div>
                        <div class="overlay_item type_size_4" style="left: 46.5%;top: 91%;" id="id-e">
                            E
                        </div>
                        <div class="overlay_item type_size_5" style="left: 53.6%;top: 91.3%;"  id="id-g">
                            G
                        </div>
                        <div class="overlay_item type_size_5" style="left: 60.5%;top: 91.3%;"  id="id-h">
                            H
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdetail_content_tab mdetail_geo" id="geo_tab">
            <div class="mdetail_geo_info">
                <div class="mdetail_geo_item first" >
                    <span class="number">56.1%</span>
                    <span class="name t_ellps">
                        Россия
                    </span>
                    <i class="icon_flag lang_ru mdetail_geo_item_lang"></i>
                </div>

                <div class="mdetail_geo_item" >
                    <span class="number">23.0%</span>
                    <span class="name t_ellps">
                        Украина
                    </span>
                    <i class="icon_flag lang_ua mdetail_geo_item_lang"></i>
                </div>
                <div class="mdetail_geo_item" >
                    <span class="number">12.1%</span>
                    <span class="name t_ellps">
                        Великобритания
                    </span>
                    <i class="icon_flag lang_uk mdetail_geo_item_lang"></i>
                </div>

                <div class="mdetail_geo_item" >
                    <span class="number">12.1%</span>
                    <span class="name t_ellps">
                        Канада
                    </span>
                    <i class="icon_flag lang_ca mdetail_geo_item_lang"></i>
                </div>

                <div class="mdetail_geo_item">
                    <span class="number">12.1%</span>
                    <span class="name t_ellps">
                        Сша
                    </span>
                    <i class="icon_flag lang_us mdetail_geo_item_lang"></i>
                </div>
            </div>
            <div class="mdetail_geo_content">
                <div id="map">

                </div>
            </div>
        </div>

        <div class="mdetail_content_tab mdetail_template" id="howlook_tab">
            <a class="btn_gray_square mdetail_template_btn" href="#">
                Сохранить как шаблон
            </a>

            <div>
                <img src="img/sender-detail/image-1.png" class="mdetail_template_frame" alt=""/>
            </div>
        </div>
    </div>
</div>