---
layout: sender.hbs
---


<div class="mailing_page">
    <div class="mailing_head s_mailing_head">
        <div class="head_inner">
            <h1 class="head_title">
                E-mail/SMS-рассылки
            </h1>

            <div class="s_mailing_toolbar show_toolbar_for_empty_mailing">
                <div class="toolbar_right">
                    <a class="btn_blue_flat toolbar_btn_create" href="#">
                        Создать рассылку
                    </a>

                    <a class="toolbar_btn_delete" href="#"></a>
                </div>

                <div class="toolbar_main">
                    <label class="toolbar_btn_tags">
                        <div class="check_simple">
                            <input class="check_simple_real" type="checkbox" data-show-tags-toggle />
                            <i class="check_simple_pretty"></i>
                        </div>
                        Показать теги
                    </label>

                    <div class="toolbar_btn_all_con">
                        <a class="toolbar_btn_all" href="#">
                            <div class="check_simple">
                                <i class="check_simple_pretty"></i>
                            </div>
                        </a>
                    </div>

                    <div class="toolbar_controls">
                        <a class="toolbar_btn_search" href="#"></a>
                        <a class="toolbar_btn_refresh" href="#"></a>
                    </div>

                    <div class="toolbar_for_checking hidden">
                        <a class="toolbar_btn_simple" href="#">
                            Копировать
                        </a>
                        <a class="toolbar_btn_simple" href="#">
                            На модерацию
                        </a>
                        <a class="toolbar_btn_simple" href="#">
                            В архив
                        </a>
                    </div>

                    <div class="toolbar_for_recreating hidden">
                        <a class="toolbar_btn_simple" href="#">
                            Восстановить
                        </a>
                    </div>

                    <div class="toolbar_for_searching hidden">
                        <form action="" class="toolbar_search_form">
                            <input type="text" class="toolbar_search_input" placeholder="Поиск" />
                            <button type="submit" class="toolbar_search_submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mailing_list">
        <div class="mailing_list_inner">

            <div class="mailing_empty_bl">
                <i class="mailing_empty_img"></i>
                <div class="mailing_empty_text">
                    Все ваши рассылки находятся в архиве. <br>
                    <a class="link_blue_light" href="#">Создать новую
                        рассылку</a> или <a class="link_blue_light" href="#">перейти архив</a>
                </div>
            </div>

        </div>
    </div>
</div>