

.mailing_empty_bl{
    width: 430px;
    margin: 0 auto;
    padding-top: 112px;
    text-align: center;

    .mailing_empty_img{
        display: block;
        margin: 0 auto 28px;
        background: url(../img/sender-list/icon-empty-list.svg) no-repeat;
        width: 56px;
        height: 51px;
    }

    .mailing_empty_text{
        font-size: 16px;
        line-height: 25px;
        font-weight: 300;
    }
}