@import "./../../libs/mixins";
@import "./../../libs/vars";

// header
.s_mailing_head{
    height: 200px;

    background-color: #f1f1ee;
    z-index: 2;

    &.show_full_menu{
        padding-left: 340px !important;
    }

    .head_inner{
        min-width: 775px;
        max-width: 1055px;
        margin: 0 auto;

        border-bottom: 2px solid @lightWhite;
        padding-bottom: 29px;
    }

    .head_title{
        margin: 0 0 37px -4px;
        padding-top: 33px;
        font-size: 50px;
        line-height: 60px;
        font-weight: 100;
    }

    &.state_small{
        height: 100px;
        border-bottom: 2px solid @lightWhite;

        .head_title{
            display: none;
        }

        .head_inner{
            padding-top: 31px;
            border-bottom: none;
        }
    }
}

.show_full_menu .mailing_head{
    padding-left: 340px !important;
}



// toolbar
.s_mailing_toolbar {
    height: 40px;
    position: relative;
    font-size: 14px;

    //right block
    .toolbar_right {
        float: right;
    }

    .toolbar_btn_create {
        float: right;
        margin-left: 32px;
        min-width: 170px;
    }

    .toolbar_btn_delete {
        display: inline-block;
        vertical-align: top;
        float: right;
        height: 40px;
        width: 25px;
        position: relative;
        opacity: .9;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            width: 25px;
            height: 23px;
            background: url(../img/sender-list/icon-delete.svg) no-repeat;
        }

        &:hover {
            opacity: 1;
        }
    }

    .toolbar_main {
        margin-right: 290px;
        .clearfix();
    }

    // tags button
    .toolbar_btn_tags {
        display: inline-block;
        position: relative;
        padding: 0 21px 0 46px;
        margin-right: 18px;
        float: right;
        height: 40px;
        color: @darkGray;
        line-height: 40px;
        text-decoration: none !important;
        cursor: pointer;

        .check_simple {
            position: absolute;
            left: 19px;
            top: 9px;
        }

        &.state_checking {
            background-color: #d6dee8;
        }
    }

    //action
    .toolbar_btn_all_con {
        display: block;
        float: left;
        vertical-align: top;
        position: relative;
        width: 90px;
        margin-right: 2px;
    }

    .toolbar_btn_all {
        display: block;
        height: 40px;
        width: 90px;
        background-color: @lightWhite;
        position: relative;

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 19px;
            right: 17px;
            .triangle(8px, 4px, @gray, 'down' );
        }

        .check_simple {
            position: absolute;
            left: 30px;
            top: 11px;
        }

        &:hover{
            background-color: @darkWhite;
        }

        &.state_check{
            background-color: @darkWhite;

            .check_simple_pretty{
                background-image: url(../img/components/icon-check-sm-s.svg);
            }
        }
    }
}


// toolbar default action
.s_mailing_toolbar{
    .toolbar_controls{
        float: left;
    }

    .toolbar_btn_search{
        display: block;
        float: left;
        margin-right: 20px;
        width: 90px;
        height: 40px;
        background-color: @lightWhite;
        position: relative;
        
        &:after{
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            left: 33px;
            top: 10px;
            background: url(../img/sender-list/icon-search.svg) no-repeat;
        }

        &:hover{
            background-color:@darkWhite;
        }
    }

    .toolbar_btn_refresh{
        display: block;
        float: left;
        width: 60px;
        height: 40px;
        background-color: @lightWhite;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            width: 24px;
            height: 19px;
            left: 19px;
            top: 11px;
            background: url(../img/sender-list/icon-refresh.svg) no-repeat;
        }

        &:hover{
            background-color: @darkWhite;
        }
    }
}

// toolbar for checking
.s_mailing_toolbar{
    .toolbar_for_checking{
        margin-left: 18px;
    }

    .toolbar_btn_simple{
        display: inline-block;
        vertical-align: top;
        float: left;
        height: 40px;
        background-color: @lightWhite;
        font-size: 16px;
        font-weight: 300;
        line-height: 40px;
        padding: 0 20px;
        margin-right: 2px;
        text-decoration: none !important;
        color: @darkGray!important;

        &:hover{
            background-color: @darkWhite;
        }
    }
}

// toolbar for searching
.s_mailing_toolbar{
    .toolbar_search_form{
        display: block;
    }
    
    .toolbar_search_input{
        display: block;
        float: left;
        width: 390px;
        padding: 0 15px;
        height: 40px;
        border: none;
        box-shadow: none;
        background-color: @lightWhite;
        font-size: 16px;
        font-weight: 300;
        .box-sizing(border-box);

        &:focus{
            outline: none;
        }
    }
    
    .toolbar_search_submit{
        display: block;
        height: 40px;
        width: 90px;
        position: relative;
        float: left;
        border: none;
        box-shadow: none;
        background-color: @blue;

        &:after{
            content: '';
            display: block;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 33px;
            top: 10px;
            background: url(../img/sender-list/icon-search-white.svg) no-repeat;
        }

        &:hover{
            opacity: .9;
        }
    }
}


/*== State ==*/

.show_toolbar_checking{
    .toolbar_controls,
    .toolbar_btn_tags{
        display: none;
    }

    .toolbar_for_checking{
        display: block;
        float: left;
    }
}

.show_toolbar_creating{
    .toolbar_for_recreating{
        margin-left: 18px;
        display: block;
        float: left;
    }

    .toolbar_controls,
    .toolbar_btn_tags,
    .toolbar_btn_delete{
        display: none;
    }
}

.show_toolbar_searching{
    .toolbar_for_searching{
        display: block;
        float: left;
    }
    
    .toolbar_controls,
    .toolbar_btn_tags{
        display: none;
    }
    
    .toolbar_for_searching{
        display: block;
    }    
}

.show_toolbar_for_empty_mailing{
    .toolbar_btn_tags,
    .toolbar_btn_all_con,
    .toolbar_btn_refresh{
        display: none;
    }
}


@media screen and (max-width: 1200px ){
    .s_mailing_toolbar{
        .toolbar_search_input{
            width: 240px;
        }
    }
}