
.mailing_create_title{
    padding-top: 33px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 100;
}

.mailing_create_bl{
    width: 470px;
    margin: 0 auto 50px;
    padding-top: 100px;
    text-align: center;

    .mailing_create_img{
        display: block;
        margin: 0 auto 32px;
        width: 140px;
        height: 166px;
        background: url(../img/sender-list/icon-create-man.svg) no-repeat;
    }

    .mailing_create_text{
        font-size: 16px;
        line-height: 25px;
        font-weight: 300;
        margin-bottom: 38px;
    }

    .mailing_create_btn{
        min-width: 230px;

    }
}