
@import "_email-head";
@import "_email-create-send";
@import "_email-empty-list";


// base layout for all page
.mailing_page{
    margin-left: 90px;
    margin-right: 45px;

    //head
    .mailing_head{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding-left: 170px;
        padding-right: 50px;
    }

    // list
    .mailing_list{
        overflow: hidden;
        padding-top: 240px;
    }

    .mailing_list_inner{
        .clearfix;
        margin-right: -50px;
    }

    .sender_item{
        float: left;
        width: 28%;
        margin-right: 5.3%;
        margin-bottom: 50px;
    }

    // navigation
    .mailing_nav{
        padding-top: 21px;
        margin-bottom: 60px;
        clear: both;
    }
}



@media screen and (max-width: 1200px) {
    .mailing_page{
        margin-left: 40px;
        margin-right: 40px;

        .mailing_head{
            padding-left: 120px;
            padding-right: 40px;
        }
    }
}


