@import "./../../libs/mixins";
@import "./../../libs/vars";

.l_footer{

    .footer_sm_link{
        padding-left: 40px;
    }

    //right block
    .footer_sm_right{
        padding-right: 59px;
        float: right;
    }

    .footer_sm_toggle{
        position: absolute;
        right: 0;
        top: 0;
    }

    .footer_sm_id{
        float: right;
        padding-top: 25px;
        margin-left: 30px;
    }

    .footer_sm_email{
        float: right;
        margin: 0px 17px 0 40px;
        padding-top: 25px;
    }

    .footer_sm_phone{
        float: right;
        font-size: 14px;
        padding-top: 26px;
    }

    .footer_sm_btn{
        margin-left: 40px;
    }
}


//right block
.footer_sm{
    color: @gray;
    font-size: 12px;
    line-height: 60px;
}

.footer_sm_right {
    position: relative;
    line-height: 1;
}

.footer_sm_toggle {
    display: block;
    height: 60px;
    width: 50px;
    background-color: #d9d9d6;
    .transition(all .2s);

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        .triangle(10px, 5px, #6c6c6b, 'up');
        margin: -3px 0 0 -5px;
    }

    &:hover {
        background-color: #d2d2d2;
    }
}

.footer_sm_id {
    min-width: 106px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        background: url(../img/layout/icon-id-man.svg) no-repeat;
        left: -19px;
        top: 21px;
        width: 17px;
        height: 18px;
    }
}

.footer_sm_email {
    min-width: 123px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        background: url(../img/layout/icon-support.svg) no-repeat;
        left: -22px;
        top: 24px;
        width: 18px;
        height: 14px;
    }

    &:hover:after{
        background-image: url(../img/layout/icon-support-a.svg);
    }
}

.footer_sm_phone {
    position: relative;
    min-width: 134px;
    font-size: 14px;
    color: #5c5b5a;
    font-weight: 100;

    &:after {
        content: '';
        position: absolute;
        background: url(../img/layout/icon-hotline.svg) no-repeat;
        left: -27px;
        top: 21px;
        width: 21px;
        height: 20px;
    }

    &:hover .footer_sm_phone_popup {
        opacity: 1;
        visibility: visible;
        .transform(translate(0, 0));
    }
}

// popup
.footer_sm_phone_popup{
    min-height: 105px;
    bottom: 30px;
    width: 250px;
    margin-left: -81px;
    opacity: 1;
    padding: 20px 9px 15px 29px;
    .transform( translate(0, -10px));
}

@media screen and (max-width: 1200px){
    .l_footer{
        .footer_sm_link{
            padding-left: 15px;
        }
    }
}

@media screen and (max-width: 1100px){
    .l_footer{
        .footer_sm_link_hide{
            display: none !important;
        }
    }
}


