@import "./../../libs/vars";
@import "./../../libs/mixins";

.footer_lg{
    height: 300px;
    padding-top: 54px;
    padding-left: 111px;
    position: relative;
    .box-sizing(border-box);

    .footer_lg_toggle{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
    }

    .footer_info_col{
        float: right;
        padding-top: 4px;
    }

    .footer_nav{
        overflow: hidden;
    }
}

/*== footer info ==*/
.footer_lg_toggle{
    display: block;
    width: 50px;
    background-color: #d9d9d6;
    .transition(all .2s);

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 20px;
        .triangle(10px, 5px, #6c6c6b, 'down');
        margin: -3px 0 0 -5px;
    }

    &:hover {
        background-color: #d2d2d2;
    }
}

.footer_info_col{
    width: 318px;
    font-size: 14px;
    font-weight: 300;
    color: @gray;

    //phone
    .footer_info_phone{
        margin-bottom: 31px;
        position: relative;

        &:hover .footer_info_popup{
            opacity: 1;
            visibility: visible;
            .transform(translate(0, 0));
        }
    }

    .footer_info_phone_number{
        font-size: 25px;
        font-weight: 100;
        color: @gray;
        margin-bottom: 1px;
    }

    .footer_info_hint{
        font-size: 12px;
        color: #a09f9e;
    }

    .footer_info_popup{
        min-height: 105px;
        bottom: 61px;
        width: 250px;
        margin-left: -54px;
        opacity: 0;
        padding: 20px 9px 15px 29px;
        .transform(translate(0, -10px));
    }

    // support
    .footer_info_support{
        margin-bottom: 30px;
    }

    .footer_info_support_link{
        position: relative;
        padding-left: 23px;
        display: block;
        margin-bottom: 6px;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 18px;
            height: 14px;
            background: url(../img/layout/icon-support.svg) no-repeat;
        }
    }

    // id
    .footer_info_id{
        span{
            position: relative;
            display: block;
            padding-left: 20px;
            margin-bottom: 7px;

            &:before{
                content: '';
                position: absolute;
                left: -2px;
                top: -2px;
                width: 17px;
                height: 18px;
                background: url(../img/layout/icon-id-man.svg) no-repeat;
            }
        }
    }
}



/*== base navigation in the footer ==*/
.footer_nav_col{
    float: left;
    text-align: left;

    &.first_col{
        margin-right: 10.1%;
        width: 30%;
    }

    &.second_col{
        margin-right: 8%;
        width: 20%;
    }

    &.third_col{
        width: 20%;

        .footer_nav_title{
            margin-bottom: 14px;
        }
    }

    .footer_nav_title{
        margin-bottom: 17px;
        font-size: 12px;
        line-height: 25px;
        font-weight: 300;
        text-transform: uppercase;
        color: #bdbcba;
    }

    .footer_nav_link{
        display: block;
        font-size: 14px;
        margin-bottom: 24px;
        font-weight: 300;
    }

    .footer_nav_copyright{
        margin-top: 23px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: #bdbcca;
    }

    [class*="link_social"]{
        display: block;
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 1200px){
    .footer_info_col{
        width: 280px;
    }

    .footer_lg{
        padding-left: 70px;
    }
}

@media screen and (max-width: 1100px){
    .footer_info_col{
        width: 230px;
    }

    .footer_lg{
        padding-left: 30px;
    }

    .footer_nav_col.first_col,
    .footer_nav_col.second_col{
        margin-right: 8%;
    }

    .footer_nav_col.third_col{
        width: 30%;
    }
}


//social links
[class*="link_social"]{
    display: inline-block;
    position: relative;
    padding-left: 36px;
    height: 25px;
    color: @gray;
    text-decoration: none !important;
    line-height: 25px;
    font-weight: 300;

    &:hover{
        color: @blueLight;

        &:before{
            border-color:  @blueLight;
        }
    }

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        width: 23px;
        height: 23px;
        border-radius: 100%;
        border: 1px solid #a09f9e;
    }

    &:after{
        content: '';
        position: absolute;
    }
}

.link_social_blog{

    &:after{
        width: 15px;
        height: 14px;
        background: url(../img/layout/social/icon-blog.svg) no-repeat;
        left: 6px;
        top: 4px;
    }

    &:hover:after{
        background-image: url(../img/layout/social/icon-blog-a.svg);
    }
}

.link_social_vk{

    &:after{
        width: 15px;
        height: 9px;
        background: url(../img/layout/social/icon-vk.svg) no-repeat;
        left: 5px;
        top: 8px;
    }

    &:hover:after{
        background-image: url(../img/layout/social/icon-vk-a.svg);
    }
}

.link_social_fb{

    &:after{
        width: 8px;
        height: 15px;
        background: url(../img/layout/social/icon-fb.svg) no-repeat;
        left: 9px;
        top: 4px;
    }

    &:hover:after{
        background-image: url(../img/layout/social/icon-fb-a.svg);
    }
}

.link_social_tw{

    &:after{
        width: 15px;
        height: 12px;
        background: url(../img/layout/social/icon-tw.svg) no-repeat;
        left: 5px;
        top: 6px;
    }

    &:hover:after{
        background-image: url(../img/layout/social/icon-tw-a.svg);
    }
}

