@import "./../../libs/vars";

//layout for menu
.l_menu{
    .l_menu_bg{
        position: fixed;
        top: 0;
        width: 80px;
        bottom: 0;
        left: 0;
        background-color: @darkBlue;
    }

    .l_menu{
        position: relative;
    }

    .menu_main{
        position: relative;
        padding: 35px 0 16px;
    }
}

//logo
.menu_logo{
    display: block;
    height: 100px;
    position: relative;
    background-color: @darkerBlue;
    
    &:before{
        content: '';
        position: absolute;
        left: 19px;
        top: 38px;
        width: 41px;
        height: 25px;
        background: url(../img/layout/menu/icon-logo.svg) no-repeat;
    }
}

/*== Addition menu for all services ==*/

//icon for menu
.icon_menu_client{
    display: inline-block;
    width: 23px;
    height: 27px;
    background: url(../img/layout/menu/icon-menu-man.svg) no-repeat;
}

.icon_menu_pays{
    display: inline-block;
    width: 23px;
    height: 24px;
    background: url(../img/layout/menu/icon-menu-pays.svg) no-repeat;
}

.icon_menu_notif{
    display: inline-block;
    width: 23px;
    height: 27px;
    background: url(../img/layout/menu/icon-menu-notif.svg) no-repeat;
}

//menu list
.menu_add{
    text-align: center;
    margin-top: 19px;
}

.menu_add_item{
    display: block;
    position: relative;
    height: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 50px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    text-align: left;

    .menu_add_text{
        display: none;
        padding-left: 40px;
    }

    .menu_add_icon{
        position: absolute;
        left: 29px;
    }

    .notif_number{
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        box-shadow: 0 1px 1px rgba(0,0,0, .25);
        background-color: @red;
        text-align: center;
        color: @white;
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;
    }

    .icon_menu_client{
        top: 9px;
    }

    .icon_menu_pays{
        top: 12px;
    }

    .icon_menu_notif{
        top: 11px;
    }
}

// link notification
.menu_add_notif{

    .notif_number{
        right: -13px;
        top: -12px;
    }

    &.type_disabled {
        cursor: default;
        opacity: .1;

        .notif_number,
        .notif_popup {
            display: none;
        }
    }
}

// link lays


/*== Main menu Sender ==*/

//icons for menu
.icon_menu_email{
    display: inline-block;
    width: 26px;
    height: 25px;
    background: url(../img/layout/menu/icon-menu-email.svg) no-repeat;
}

.icon_menu_chain{
    display: inline-block;
    width: 27px;
    height: 25px;
    background: url(../img/layout/menu/icon-menu-chain.svg) no-repeat;
}

.icon_menu_templates{
    display: inline-block;
    width: 26px;
    height: 25px;
    background: url(../img/layout/menu/icon-menu-temp.svg) no-repeat;
}

.icon_menu_clients{
    display: inline-block;
    width: 30px;
    height: 26px;
    background: url(../img/layout/menu/icon-menu-clients.svg) no-repeat;
}

.icon_menu_settings{
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url(../img/layout/menu/icon-menu-set.svg) no-repeat;
}

//Menu title
.menu_main {

    &:after{
        content: '';
        position: absolute;
        right: 20px;
        left: 20px;
        height: 2px;
        background-color: #6574a4;
        bottom: 0;
    }

    // toggle menu
    .menu_toggle {
        position: relative;
        min-height: 44px;
        margin: 0 20px 14px;
        padding-bottom: 20px;
        border-bottom: 2px solid #6574a4;
        text-transform: uppercase;
        color: @white;
        font-size: 25px;
        line-height: 1;
        font-weight: 700;
    }

    .menu_toggle_text {
        display: none;
    }

    .menu_toggle_icon {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 5px;
        top: 0;
        opacity: .8;

        &:after {
            content: '';
            position: absolute;
            width: 21px;
            height: 21px;
            left: 5px;
            top: 5px;
            background: url(../img/layout/menu/icon-menu-toggle.svg) no-repeat;
        }
    }
}

// menu link
.menu_item {
    display: block;
    height: 60px;
    position: relative;
    color: @white;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 60px;

    .menu_item_icon{
        position: absolute;
        left: 28px;
        top: 15px;
        display: block;
    }

    .icon_menu_email{
        left: 28px;
        top: 15px;
    }

    .icon_menu_chain{
        left: 28px;
        top: 16px;
    }

    .icon_menu_templates{
        left: 28px;
        top: 17px;
    }

    .icon_menu_clients{
        top: 19px;
        left: 26px;
    }

    .icon_menu_settings{
        top: 14px;
        left: 27px;
    }

    .menu_item_text{
        display: none;
        padding-left: 40px;
        font-size: 16px;
        line-height: 1;
    }

    &:hover,
    &.selected{
        color: #313e49;

        .icon_menu_email{
            background-image: url(../img/layout/menu/icon-menu-email-a.svg);
        }

        .icon_menu_chain{
            background-image: url(../img/layout/menu/icon-menu-chain-a.svg);
        }

        .icon_menu_templates{
            background-image: url(../img/layout/menu/icon-menu-temp-a.svg);
        }

        .icon_menu_clients{
            background-image: url(../img/layout/menu/icon-menu-clients-a.svg);
        }

        .icon_menu_settings{
            background-image: url(../img/layout/menu/icon-menu-set-a.svg);
        }
    }

    &.selected {
        font-weight: bold;
        background-color: #6577a4;
    }
}

/*=== State for menu ==*/
.show_navigation {
    .menu_main {
        display: block;
    }
}

.l_menu.show_full_menu {
    width: 250px;

    .menu_logo:before{
        width: 67px;
        height: 40px;
        left: 92px;
        top: 30px;
    }

    .l_menu_bg{
        width: 250px;
    }

    // style for sender menu
    .menu_main:after{
        left: 40px;
        right: 30px;
    }

    .menu_toggle{
        margin-left: 40px;
        margin-right: 30px;
    }

    .menu_toggle_icon{
        right: -4px;
    }

    .menu_item,
    .menu_add_item{
        padding-left: 40px;
        padding-right: 30px;
    }

    .menu_item_icon{
        margin-left: 40px;
    }

    .icon_menu_email,
    .icon_menu_chain,
    .icon_menu_templates{
        left: 0;
    }

    .icon_menu_clients{
        left: -2px;
    }

    .icon_menu_settings{
        left: -1px;
    }

    .menu_toggle_text,
    .menu_item_text{
        display: inline-block;
    }

    .menu_toggle_text{
        padding-top: 4px;
        margin-left: -3px;
    }

    // style for addition common menu
    .menu_add_text{
        display: inline-block;
    }

    .menu_add_icon{
        margin-left: 40px;
    }

    .menu_add_icon{
        left: 2px;
    }
}
