@import "./../../libs/mixins";
@import "./../../libs/vars";


// show popup
.menu_add_notif{
    .notif_popup{
        right: -300px;
        top: -70px;
    }

    &:hover .notif_popup{
        opacity: 1;
        visibility: visible;
        .transform( translate(0, 0));
    }
}

// popup styles
.notif_popup{
    position: absolute;
    min-height: 100px;
    width: 300px;
    background-color: @white;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0, .3);
    .transition(all .15s ease);
    .transform( translate(10px, 0));
    opacity: 0;
    visibility: hidden;

    &:before{
        content: '';
        position: absolute;
        .triangle(10px, 20px, @white, 'left');
        left: -10px;
        top: 80px;
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        left: -20px;
    }
}

.notif_popup_item{
    position: relative;
    height: 88px;
    overflow: hidden;
    border-top: 2px solid @smoothWhite;
    text-decoration: none !important;
    color: @darkGray;
    text-align: left;

    &:first-child{
        border-top: none;
    }

    &:hover .notif_popup_title{
        color: @blueLight;
    }

    .notif_popup_icon{
        position: absolute;
        left: 32px;
        top: 28px;
    }

    .notif_popup_content{
        display: table;
        height: 88px;
        margin-left: 80px;
    }

    .notif_popup_text{
        display: table-cell;
        height: 88px;
        vertical-align: middle;
        color: @gray;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }

    .notif_popup_title{
        font-weight: 500;
        color: @default;
        margin-bottom: 1px;
    }

    // state for notification item
    &.type_complete .notif_popup_icon{
        margin: 1px 0 0 1px;
         width: 30px;
         height: 30px;
         background: url(../img/layout/notification/icon-notif-complete.svg) no-repeat;
    }

    &.type_info .notif_popup_icon{
        width: 32px;
        height: 32px;
        background: url(../img/layout/notification/icon-notif-info.svg) no-repeat;
    }

    &.type_alert .notif_popup_icon{
        width: 32px;
        height: 32px;
        background: url(../img/layout/notification/icon-notif-alert.svg) no-repeat;
    }

    &.type_exit .notif_popup_icon{
        width: 32px;
        height: 32px;
        background: url(../img/layout/notification/icon-notif-exit.svg) no-repeat;
    }

    &.type_closed{
        background-color: @smoothWhite;
        border-top-color: @lightWhite;
        cursor: default;

        .notif_popup_title,
        .notif_popup_text{
            color: #a9a9a9;
        }

        .notif_popup_icon{
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            opacity: .7;
        }
    }
}