@import "./../../libs/mixins";
@import "./../../libs/vars";

.menu_add_partner{
    .partner_popup{
        right: -340px;
        top: -70px;
    }

    &:hover .partner_popup{
        opacity: 1;
        visibility: visible;
        .transform( translate(0, 0));
    }
}

.partner_popup{
    position: absolute;
    min-height: 100px;
    width: 340px;
    background-color: @white;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0, .3);
    .transition(all .15s ease);
    .transform( translate(10px, 0));
    opacity: 0;
    visibility: hidden;

    &:before{
        content: '';
        position: absolute;
        .triangle(10px, 20px, @white, 'left');
        left: -10px;
        top: 80px;
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        left: -20px;
    }
}

@heightItem: 68px;

.partner_popup_item{
    display: block;
    position: relative;
    padding-left: 80px;
    height: @heightItem;
    overflow: hidden;
    border-top: 2px solid @smoothWhite;
    text-decoration: none !important;
    color: @default;
    text-align: left;
    font-size: 16px;
    line-height: @heightItem;

    &:first-child{
        border-top: none;
    }

    &:hover{
        color: @blueLight;
    }
    
    .partner_popup_id{
        float: right;
        width: 62px;
        margin-left: 23px;
        font-size: 14px;
        font-weight: 300;
        color: #b2b2b2;
        text-transform: uppercase;
        line-height: 76px;
    }

    .partner_popup_ava{
        position: absolute;
        left: 34px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #afafaf;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
    }
}