@import "./../../libs/vars";

body,
html{
    height: 100%;
}

.l_page {
    min-height: 100%;
    overflow: hidden;
}

.l_menu {
    display: block;
    float: left;
    width: 80px;
    position: relative;
    z-index: 10;
}


.l_page_content{
    min-width: 910px;
    max-width: 1200px;
    margin: 0 auto;
}

.l_page_content_con{
    overflow: hidden;
}

@footerHeight: 60px;
.l_page_padding{
    height: @footerHeight;
}

.l_footer{
    position: relative;
    height: @footerHeight;
    margin-top: -@footerHeight;
    background-color: @lightWhite;
    z-index: 6;
    margin-left: 80px;
}

.l_footer_inner{
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
}



