
@import "_structure";

@import "_menu-default";
@import "_notification-popup";
@import "_partners-popup";

@import "_footer-small";
@import "_footer-lg";


/*== State ==*/
.show_full_footer.l_page_padding {
    height: 300px;
}

.show_full_footer.l_footer {
    margin-top: -300px;
    height: 300px;

    .footer_lg {
        display: block;
    }

    .footer_sm {
        display: none;
    }
}

