@import "./../../libs/mixins";
@import "./../../libs/vars";

.mdetail_head {
    border-bottom: 2px solid @lightWhite;
    position: relative;

    .mdetail_back_link {
        position: absolute;
        left: -59px;
        top: 12px;
        width: 30px;
        height: 30px;

        &:after {
            content: '';
            display: block;
            position: relative;
            left: 2px;
            top: 7px;
            width: 26px;
            height: 16px;
            background: url(../img/sender-detail/icon-back-arrow.svg) no-repeat;
            .transition(all .15s ease);
        }

        &:hover:after {
            .transform(translate(-10px, 0));
        }
    }

    .mdetail_head_nav{
        margin-left: -16px;
    }

    .mdetail_title {
        margin-bottom: 47px;
        font-size: 50px;
        line-height: 60px;
        font-weight: 100;
        white-space: nowrap;
    }
}

.mdetail_title_popup {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    vertical-align: -8px;

    .icon_round_light {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: @lightWhite;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            .triangle(14px, 8px, @gray, 'down' );
            margin: -4px 0 0 -7px;
        }
    }

    .popup_menu{
        position: absolute;
        left: -53px;
        top: 41px;
        .transform( translate(0, 10px));
    }

    &:hover .popup_menu{
        .transform( translate(0, 0));
        opacity: 1;
        visibility: visible;
    }
}
