@import "./../../libs/mixins";
@import "./../../libs/vars";

.mdetail_geo{
    padding-top: 30px;
    padding-bottom: 40px;
    .clearfix();

    .mdetail_geo_info{
        float: right;
        width: 260px;
        margin-left: 50px;
    }

    .mdetail_geo_content{
        overflow: hidden;
    }

    //map
    #map{
        height: 450px;
        min-width: 520px;

        svg{
            height: 450px !important;
            width: 100% !important;
        }
    }

    .jvectormap-element{
        fill: #e1e1e1;
        stroke: #d2d2d2;
        stroke-width: 1;
    }

    [data-code="RU"]{
        fill: #58b943 !important;
    }

    [data-code="KZ"]{
        fill: #71d49c !important;
    }

    .jvectormap-container{
        background: none !important;
    }

    .jvectormap-zoomin,
    .jvectormap-zoomout{
        width: 30px;
        height: 30px;
        background: @lighterWhite;
        box-shadow: 0 1px 1px rgba(0,0,0, .3);
        color: @gray;
        padding: 0;
        text-align: center;
        line-height: 32px;
        font-size: 30px;
        border-radius: 2px;

        &:hover{
            background: #ccc;
        }

    }

    .jvectormap-zoomout{
        top: 42px;
    }
}

//
.mdetail_geo_item{
    display: block;
    position: relative;
    height: 58px;
    border-top: 2px solid @lightWhite;
    line-height: 60px;
    padding-left: 46px;

    &:first-child{
        border-top: none;

        .number{
            font-weight: bold;
        }
    }

    .number{
        float: right;
        display: block;
        font-weight: 100;
        margin-left: 10px;
    }

    .name{
        display: block;
        overflow: hidden;
        font-weight: 100;
    }

    .mdetail_geo_item_lang{
        position: absolute;
        left: 0;
        top: 15px;
    }
}

// list of flags
.icon_flag{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    background-repeat: no-repeat;

    &.lang_ru{
        background-image: url(../img/components/flags/flag-ru.svg);
    }

    &.lang_ua{
        background-image: url(../img/components/flags/flag-ua.svg);
    }

    &.lang_uk{
        background-image: url(../img/components/flags/flag-uk.svg);
    }

    &.lang_ca{
        background-image: url(../img/components/flags/flag-ca.svg);
    }

    &.lang_us{
        background-image: url(../img/components/flags/flag-us.svg);
    }
}