@import "./../../libs/mixins";
@import "./../../libs/vars";

.mdetail_info{
    padding-bottom: 40px;
    position: relative;
    margin-bottom: -10px;

    .mdetail_info_right{
        width: 300px;
        float: right;
        min-height: 1px;
        margin-left: 80px;
    }

    .mdetail_info_right_inner{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        background-color: @lightWhite;
    }

    .mdetail_info_list{
        margin-bottom: 77px;
        text-align: center;
        white-space: nowrap;

        .progress_simple{
            margin: 0 14px;
            white-space: normal;

            &:first-child{
                margin-left: 0;
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }

    .mdetail_info_title{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .mdetail_info_graphic{
        margin-bottom: 81px;
    }

    .mdetail_info_title_popular{
        font-size: 30px;
        margin-bottom: 25px;
    }
}

// right block
.mdetail_info_right_content{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;

    .mdetail_info_date{
        font-size: 15px;
        line-height: 15px;
        font-weight: 100;
        position: relative;
        padding: 42px 0 28px 39px;
        border-bottom: 2px solid #dadada;

        &:before{
            content: '';
            position: absolute;
            width: 31px;
            height: 22px;
            left: 1px;
            top: 42px;
            background: url(../img/sender-item/icon-sender-email.svg) no-repeat
        }
    }

    .mdetail_info_tags{
        margin-bottom: 30px;
    }

    .mdetail_info_tags_title{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 14px;
        margin-top: 24px;
    }

    .sender_tag{
        display: inline-block;
        vertical-align: top;
        margin: 0 -1px 2px 0;
    }

    .mdetail_info_btn_analytics{
        position: relative;
        padding-left: 40px;
        
        &:before{
            content: '';
            width: 19px;
            height: 13px;
            position: absolute;
            left: 11px;
            top: 15px;
            background: url(../img/sender-detail/icon-analytics.svg) no-repeat;
        }
    }
}

.mdetail_info_content{
    overflow: hidden;
    padding-top: 69px;

    .icons_man_green{
        display: block;
        margin: 0 auto 10px;
        width: 50px;
        height: 59px;
        background: url(../img/sender-item/icon-sender-man2.svg) no-repeat;
    }

    .mdetail_info_count{
        text-align: center;
        font-size: 50px;
        line-height: 1;
        font-weight: 300;
        margin: -1px 0;
        color: @lightGreen;
    }

    .mdetail_info_hint{
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 44px;
    }
}

// popular links
.popular_links{
    margin-bottom: 20px;
}

.popular_link_item{
    display: block;
    position: relative;
    padding-left: 49px;
    text-decoration: none !important;
    border-top: 2px solid @lightWhite;
    height: 58px;
    font-size: 16px;
    font-weight: 300;
    line-height: 58px;
    color: @default;
    white-space: nowrap;

    &:first-child{
        border-top: none;
    }
    
    &:hover{
        color: @blueLight;
    }

    .popular_link_number{
        position: absolute;
        display: block;
        left: 2px;
        top: 14px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: @yellow;
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        color: @default !important;
    }

    .popular_link_text{
        display: inline-block;
        min-width: 173px;
        vertical-align: top;
    }
}

//progress
.progress_simple_arrow{
    display: inline-block;
    vertical-align: top;
    width: 5px;
    position: relative;

    &:before{
        content: '';
        display: block;
        position: absolute;
        left: -13px;
        top: 60px;
        width: 31px;
        height: 13px;
        background: url(../img/sender-detail/icon-arrow-detail.svg) no-repeat;
    }
}


.progress_simple{
    display: inline-block;
    position: relative;
    width: 180px;
    vertical-align: top;

    .progress_simple_value{
        height: 88px;
        padding-top: 42px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;

        span{
            margin-bottom: 4px;
            font-size: 30px;
            display: block;
            line-height: 1;
        }
    }

    .progress_simple_svg{
        position: absolute;
        left: 50%;
        margin-left: -65px;
        top: 0;
        .transform( rotate(-90deg));
    }

    .progress_title{
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        line-height: 20px;
        min-height: 50px;
        padding: 14px 10px 18px;
    }

    .progress_hint{
        position: relative;
        display: block;
        padding: 14px 5px 10px 24px;
        margin: 0 auto;
        width: 180px;
        border-radius: 7px;
        background-color: @lightWhite;
        .box-sizing(border-box);
        box-shadow: 0 1px #c2c2c2;
        font-size: 14px;
        line-height: 20px;
        text-align: left;

        &:before{
            content: '';
            position: absolute;
            .triangle(25px, 17px,@lightWhite, 'up' );
            left: 50%;
            top: -17px;
            margin-left: -13px;
        }
    }

    .progress_hint_item{
        font-size: 12px;
        line-height: 1.2;
        margin: 4px 0;
        color: @gray;

        .first{
            margin: 12px 0 0 0;
        }

        &:after{
            content: 'i';
            display: inline-block;
            margin-left: 2px;
            width: 14px;
            height: 14px;
            border-radius: 14px;
            border: 1px solid #b8b8b8;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            color: #b8b8b8;
            font-style: normal;
            line-height: 16px;
            -webkit-font-smoothing: antialiased;
        }
    }
}

.mdetail_info_graphic{

    .jqplot-xaxis-tick,
    .jqplot-yaxis-tick{
        color: @lightGray;
        font-weight: 300;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }

    .jqplot-xaxis-tick{
        margin-top: 20px;
        color: transparent;

        &:first-child{
            display: none;
        }

        &:nth-child(2){

            &:before{
                color: @lightGray;
                content: '00:00';
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        &:nth-child(3){

            &:before{
                content: '06:00';
                position: absolute;
                left: 0;
                top: 0;
                color: @lightGray;
            }
        }

        &:nth-child(4){

            &:before{
                content: '12:00';
                position: absolute;
                left: 0;
                top: 0;
                color: @lightGray;
            }
        }

        &:nth-child(5){

            &:before{
                content: '18:00';
                position: absolute;
                left: 0;
                top: 0;
                color: @lightGray;
            }
        }

        &:nth-child(6){

            &:before{
                content: '23:59';
                position: absolute;
                left: 0;
                top: 0;
                color: @lightGray;
            }
        }
    }

    .jqplot-xaxis{
        bottom: 0;

        &:before{
            content: '';
            position: absolute;
            left: 40px;
            top: 0;
            right: 0;
            height: 2px;
            background-color:@lighterGray;
        }
    }

    .jqplot-yaxis-tick{
        &:before{
            content: '';
            position: absolute;
            left: 40px;
            right: 0;
            height: 2px;
            top: 9px;
            background-color: @lightWhite;
            width: 530px;
            z-index: 5;
        }

        &:first-child:before{
            display: none;
        }
    }

    .jqplot-series-canvas{
        z-index: 6;
    }
}

@media screen and (max-width: 1370px){
    .mdetail_info{
        .progress_simple{
            margin: 0 !important;
        }

    }
}

@media screen and (max-width: 1340px){
    .mdetail_info{
        margin-right: -40px;

        .mdetail_info_right{
            margin-left: 40px;
        }

        .mdetail_info_right,
        .mdetail_info_right_inner{
            width: 250px;
        }

        .mdetail_info_right_content{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 1260px){
    .mdetail_info {
        margin-right: -40px;
    }
}