@import "./../../libs/mixins";
@import "./../../libs/vars";

.mdetail_map{
    padding-top: 49px;
    padding-bottom: 40px;

    .mdetail_map_info{
        width: 260px;
        float: right;
        margin-left: 90px;
    }

    .mdetail_map_content{
        overflow: hidden;
        position: relative;
    }

    .mdetail_map_content_img{
        float: left;
        position: relative;
    }

    .mdetail_map_overlay{
        background-color: rgba(77,77,77, .7);
        z-index: 2;
    }
}

// overlay for email
.mdetail_map_overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;

    .overlay_item{
        position: absolute;
        text-align: center;
        background: url(../img/sender-detail/label.png) no-repeat;
        .box-sizing(border-box);
        background-size: cover;
        color: @default;
        font-weight: bold;
        .transform( translate(-50%, -50%));

        &.type_size_1{
            width: 95px;
            height: 130px;
            padding-top: 13px;
            font-size: 55px;
        }

        &.type_size_2{
            width: 65px;
            height: 89px;
            font-size: 36px;
            padding-top: 10px;
        }

        &.type_size_3{
            width: 35px;
            height: 48px;
            font-size: 19px;
            padding-top: 6px;
        }

        &.type_size_4{
            width: 23px;
            height: 32px;
            font-size: 13px;
            padding-top: 4px;
        }

        &.type_size_5{
            width: 16px;
            height: 22px;
            font-size: 9px;
            padding-top: 3px;
        }
    }
}

.mdetail_map_content_img{
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(77, 77, 77, .3);
    }

    img{
        max-width: 100%;
        height: auto;
        display: block;
        width: 100%;
    }
}

//info block
.mdetail_map_select{
    height: 50px;
    margin-bottom: 29px;

    .select-simple{
        width: 100%;
        
        &:after{

        }
    }
}

.mdetail_map_item {
    height: 58px;
    border-top: 2px solid @lightWhite;
    position: relative;
    padding-left: 44px;
    font-size: 16px;
    font-weight: 100;
    line-height: 58px;
    cursor: pointer;

    &:first-child,
    &.first{
        border-top: none;
    }

    .label{
        position: absolute;
        left: 0;
        top: 12px;
        width: 30px;
        height: 30px;
        background-color: @yellow;
        border-radius: 30px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
    }

    &:hover{
        background-color: #d6dde8;
        border-top: 2px solid #d6dde8;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            height: 2px;
            background-color: #d6dde8;
            z-index: 2;
        }
    }

    [data-tooltip]{
        cursor: pointer;

        &:hover{
            color: @blueLight;
        }
    }
}
