
@import "_detail-head";
@import "_detail-tab-common";
@import "_detail-tab-map";
@import "_detail-tab-geo";


// base layout for page
.mailing_detail_page{
    margin-left: 90px;
    margin-right: 45px;
    padding-top: 33px;

    .mdetail_head{
        height: 166px;
    }

    .mdetail_content{

    }

    .mdetail_content_tab{
        display: none;
    }
}

// last tab with example template
.mdetail_template{
    padding-top: 48px;
    padding-bottom: 40px;

    .mdetail_template_btn{
        padding-left: 44px;
        position: relative;
        min-width: 171px;

        &:before{
            content: '';
            position: absolute;
            display: block;
            left: 21px;
            top: 9px;
            width: 24px;
            height: 23px;
            background: url(../img/sender-detail/icon-save-temp.svg) no-repeat;
        }
    }

    .mdetail_template_frame{
        margin-top: 30px;
        width: 700px;
        height: 1200px;
    }
}

@media screen and (max-width: 1260px) {
    .mailing_detail_page{
        margin-left: 60px;
        margin-right: 40px;

        .mdetail_back_link{
            left: -40px;
        }
    }
}
